#consumerQuestionnaire{
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: Roboto, sans-serif;
    color: $blue;
  #consumerQuestionnaireHeader{
    color: $blue;
    width: 100%;
    .pearlLogo{
      display: inline-block;
      width: 5%;
      height: 5%;
      padding-top: 2%;
      position: relative;
      left: 47%;
      }
      #consumerQuestionnaireHeader-contain{
        width: 80%;
        position: relative;
        .pearlLogo-text{
          font-size: 3em;
          letter-spacing: 2px;
          font-family: Arvo;
          width: 10%;
          display: block;
          position:relative;
          left: 54%;
          padding-bottom: 2%;
        }
        .consumerQuestionnaireHeader-search{
          position: relative;
          left: 33%;
          font-size: 1.5em;
          padding-bottom: 3%;
          input{
            height: 1.5em;
            border-style: none;
            outline: none;
            margin-left: .65%;
            width: 40%;
            padding: .11%;
            border-radius: 1px;
						background-color: #EEE;
          }
          button{
            margin-left: -3%;
            height: 1.73em;
            border-radius:0 2px 2px 0;
            background-color: $red;
            color: $tan;
            border-style: none;
            outline: none;
          }
        }
      }
    }
  #businessQuestionnaireWrapper{
    font-family: Roboto, sans-serif;
    margin: auto;
    width: 80%;
    }

    .pageTitle{
      font-size: 1.5em;
      height:5em;
      width:10em;
    }

    .instructions{
      color:$darkGrey;
      font-size: 1.5em;
      text-align: left;
      padding-left: 5em;
    }

    .instructions2{
      color:$darkGrey;
      font-size: 1.5em;
      text-align: left;
    }


.questions{
  color:$darkGrey;
  font-size: 1em;
  padding-left: 7em;
}
  .checkboxItem{
      color:$darkGrey;
      font-size: 1em;
    }

    .submitButton{
      height:1em;
      width:6em;
      background-color: $red;
      font-size: 1.5em;
      color:$tan;
      margin: 1em 0 3em 5%;
      // margin: auto;
      border-color: $red;
      border-radius: 1px;
      text-align: center;
      display:block;
      padding: 2%;
    }
}
