<!-- badges practice code -->

<img ng-src='assets/img/currentlyhiring.svg' ng-show='functionName()'>

<img ng-src='assets/img/glutenfree1.svg' ng-show='functionName()'>

<img ng-src='assets/img/localmusic.svg' ng-show='functionName()'>

<img ng-src='assets/img/lgbtfriendly.svg' ng-show='functionName()'>

<img ng-src='assets/img/locallysourcedfood.svg' ng-show='functionName()'>

<img ng-src='assets/img/minorityowned.svg' ng-show='functionName()'>

<img ng-src='assets/img/livingwage.svg' ng-show='functionName()'>

<img ng-src='assets/img/petfriendly.svg' ng-show='functionName()'>

<img ng-src='assets/img/localartcrafts.svg' ng-show='functionName()'>

<img ng-src='assets/img/charitiesnonprofits.svg' ng-show='functionName()'>

<img ng-src='assets/img/sustainablepractices.svg' ng-show='functionName()'>

<img ng-src='assets/img/veganpeta.svg' ng-show='functionName()'>
