<!--for unique page identification-->
<div id="businessEditPage">
  <div id = "businessEditPage-wrapper">

    <!--header-->
    <div id="profileHeader">
        <img class="pearlLogo" src="assets/images/pearlLogo.svg">
        <div id="profileHeader-contain">
            <span class="pearlLogo-text"> Pearl </span>
            <p class="profileHeader-search"> find me
                <input type="text" placeholder="i.e. waffles"></input>
                <span><button>
        search
      </button></span>
            </p>
        </div>
    </div>

    <div class="grid grid-pad">
        <div class="col-1-3">
           <div class="content">
               <ul>
                 <li class = "businessHours-day">
                   Mon-Fri
                 </li>
                  <li class = "businessHours-day">
                    Sat
                  </li>
                  <li class = "businessHours-day">
                    Sun
                  </li>
                  <li class = "businessHours-day" id = "customDay">
                    <input class = "inputEdit" placeholder = "specifiy other times"></input>
                  </li>
                </ul>
           </div>
        </div>
        <div class="col-1-3">
           <div class="content">
               <li class = "businessHours-hours">
                 <input class = "inputEdit" placeholder = "time"></input>
                 to
                  <input class = "inputEdit" placeholder = "time"></input>
                </li>
                <li class = "businessHours-hours">
                   <input class = "inputEdit" placeholder = "time"></input>
                  to
                 <input class = "inputEdit" placeholder = "time"></input>
                </li>
                <li class = "businessHours-hours">
                   <input class = "inputEdit" placeholder = "time"></input>
                  to
                   <input class = "inputEdit" placeholder = "time"></input>
                </li>
                <li class = "businessHours-hours">
                   <input class = "inputEdit" placeholder = "time"></input>
                  to
                   <input class = "inputEdit" placeholder = "time"></input>
                </li>
           </div>
        </div>
        <div class="col-1-3">
           <div class="content">
               <textarea class = "businessBio" placeholder= "anything else you want to tell us about your business?"></textarea>
           </div>
        </div>
    </div>

    <div>
      <button class = "editSubmitButton"> submit </button>
  </div>
</div>
