
<div id='consumerQuestionnaire'>
    <div id = "consumerQuestionnaireHeader">
      <img class = "pearlLogo" src = "assets/images/pearlLogo.svg">
      <div id = "consumerQuestionnaireHeader-contain">
      <span class = "pearlLogo-text"> Pearl </span>
      <!-- <p class = "businessQuestionnaireHeader-search"> find me <input type = "text" placeholder = "i.e. waffles"></input>
        <span><button>
          search
        </button></span>
      </p> -->
    </div>
    </div>
<div id='consumerQuestionnaireWrapper'>
      <!-- <div class='pageTitle'></div> -->
    <div class='instructions'>What business features matter to you?</div><br>

    <div>
      <form class='questions' action=''>
        <input type="checkbox" name="hiring"  ng-model='hiring' > Currently Hiring<br>
        <input type="checkbox" name="glutFree" ng-model='glutFree' > Gluten Free Options<br>
        <input type="checkbox" name="musicians" ng-model='musicians' > Host Local Musicians<br>
        <input type="checkbox" name="lgbt" ng-model='lgbt' > LGBT Friendly<br>
        <input type="checkbox" name="localFood" ng-model='localFood' > Locally Sourced Food<br>
        <input type="checkbox" name="minorityOwned" ng-model='pocOwned' > Minority Owned<br>
        <input type="checkbox" name="livWage" ng-model='livWage' > Pay a Living Wage<br>
        <input type="checkbox" name="petFriend" ng-model='petFriend' > Pet Friendly<br>
        <input type="checkbox" name="artCrafts" ng-model=artCrafts > Sell Local Art/Crafts<br>
        <input type="checkbox" name="charNonprof" ng-model='charNonprof' > Support Local Charities/Non-Profits<br>
        <input type="checkbox" name="sustain" ng-model='sustain' > Sustainable Practices<br>
        <input type="checkbox" name="veganPeta" ng-model='veganPeta'> Vegan/PETA Friendly<br>
        <!-- clicked is a function -->
      <div class=submitButton input type="submit" ng-click="clicked()"  value="Submit">It Matters!</div>
      </form>
    </div>
</div>

<!-- ..................................................................... -->

  <!-- <div id='consumerQuestionnaire'>
    <div class='container'>
      <div id = "consumerQuestionnaireHeader">
        <img class = "pearlLogo" src = "assets/images/pearlLogo.svg">
        <div id = "consumerQuestionnaireHeader-contain">
        <span class = "pearlLogo-text"> Pearl </span> -->


        <!-- <p class = "businessQuestionnaireHeader-search"> find me <input type = "text" placeholder = "i.e. waffles"></input>
          <span><button>
            search
          </button></span>
        </p> -->


      <!-- </div>
      </div>

    <div class='instructions'>What matters to you</div>
    <div class='instructions2'>in a local business?</div>

    <div class='questions'>
      <form action="demo_form.asp" method="get">
        <input type="checkbox" name="" value="hiring"> Currently Hiring<br>
        <input type="checkbox" name="" value="envResp"> Environmentally Responsible<br>
        <input type="checkbox" name="" value="musicians"> Host Local Musicians<br>
        <input type="checkbox" name="" value="lgbtq"> LGBTQ Friendly<br>
        <input type="checkbox" name="" value="localFood"> Locally Sourced Food<br>
        <input type="checkbox" name="" value="pocOwned"> Owned by People of Color<br>
        <input type="checkbox" name="" value="livWage"> Pay a Living Wage<br>
        <input type="checkbox" name="" value="petFriend"> Pet Friendly<br>
        <input type="checkbox" name="" value="artCrafts"> Sell Local Art/Crafts<br>
        <input type="checkbox" name="" value="charNonprof"> Support Local Charities/Non-Profits<br>
        <input type="checkbox" name="" value="suatain"> Sustainable Practices<br>
        <input type="checkbox" name="" value="veganPeta"> Vegan/PETA Friendly<br>
      <input type="submit" value="Submit">
    </form>
  </div>

</div>
</div>
</div> -->
