<div id="matches" >
  <header id=headerNavBar>
    <div class="logo">
      <h1 id="pearlH1">Pearl</h1>
      <img src="assets/img/pearlLogo-1.svg" alt="" />

      <div class="dropdownMenu">
        <button ng-click="dropDown = !dropDown" class="dropdownbtn">
          <i class="fa fa-bars" id="hamburgerNav" aria-hidden="true"></i>
        </button>
        <div class="dropdownMenu-list" ng-show="dropDown">
            <a class="dropdownMenu-list--item" href="#/dashboard">Home</a>
            <a class="dropdownMenu-list--item" href="#/business_search">Search</a>
            <a class="dropdownMenu-list--item" href="#/business_edit">Settings</a>
            <a class="dropdownMenu-list--item" href="#/logout">Logout</a>
        </div>

      </div>
    </div>
  </header>


  <main id="mainDashboard">
    <h2 id="loading" ng-if="!matches">Finding Treasures...</h2>

    <!-- <div class="profileHeader" ng-if="matches"><i class="fa fa-search"></i>
        <input id = "searchNearMe" type="text" placeholder="..."></input>
        <button id = "searchNearMeBtn">
          search
        </button>
    </div> -->
    <div class="userResults">
      <h3>Based on your survey results: </h3>
      <img class ='badges' src="assets/img/localartcrafts.svg"  ng-if="userResults.artsCrafts===true" height="30" width="30">
      <img class ='badges' src="assets/img/currentlyhiring.svg"  ng-if="userResults.hiring===true" height="30" width="30">
      <img class ='badges' src="assets/img/glutenfree.svg"  ng-if="userResults.glutFree===true" height="30" width="30">
      <img class ='badges' src="assets/img/localmusic.svg"  ng-if="userResults.musicians===true" height="30" width="30">
      <img class ='badges' src="assets/img/lgbtfriendly.svg"  ng-if="userResults.lgbt===true" height="30" width="30">
      <img class ='badges' src="assets/img/livingwage.svg"  ng-if="userResults.livWage===true" height="30" width="30">
      <img class ='badges' src="assets/img/locallysourcedfood.svg"  ng-if="userResults.localFood===true" height="30" width="30">
      <img class ='badges' src="assets/img/minorityowned.svg"  ng-if="userResults.minorityOwned===true" height="30" width="30">
      <img class ='badges' src="assets/img/petfriendly.svg"  ng-if="userResults.petFriend===true" height="30" width="30">
      <img class ='badges' src="assets/img/charitiesnonprofits.svg"  ng-if="userResults.charNonprof===true" height="30" width="30">
      <img class ='badges' src="assets/img/sustainablepractices.svg"  ng-if="userResults.sustain===true" height="30" width="30">
      <img class ='badges' src="assets/img/veganpeta.svg"  ng-if="userResults.veganPeta===true" height="30" width="30">
    </div>

    <footer id="bottomWrapper">
        <a href="#/discover">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </a>

        <a href="#/you">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>

        <a href="#/search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </a>
    </footer>

<!-- MATCH TEST -->
  <ul class="ngDashboard">
    <li ng-repeat="match in matches" class="match" id={{match.id}} ng-click="viewBiz()">
      <a href="#/places" id="chevron">
        <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
      </a>
      <div id="matchName"> {{match.name}}</div>
      <div id="matchOwner"> {{match.owner}}</div>
      <div id="matchOwner">{{match.address}}, {{match.city}}</div>
      <div id="matchInfo">
        <!-- <a href="tel:+{{match.phone}}" class="phone">{{match.phone}}</a> -->
        <br>



        <a href="{{match.website_url}}" id="yelp">
          <i class="fa fa-yelp" aria-hidden="true"></i>
        </a>



        <img class ='badges' src="assets/img/localartcrafts.svg"  ng-if="match.artsCrafts===true" height="30" width="30">
        <img class ='badges' src="assets/img/currentlyhiring.svg"  ng-if="match.hiring===true" height="30" width="30">
        <img class ='badges' src="assets/img/glutenfree.svg"  ng-if="match.glutFree===true" height="30" width="30">
        <img class ='badges' src="assets/img/localmusic.svg"  ng-if="match.musicians===true" height="30" width="30">
        <img class ='badges' src="assets/img/lgbtfriendly.svg"  ng-if="match.lgbt===true" height="30" width="30">
        <img class ='badges' src="assets/img/livingwage.svg"  ng-if="match.livWage===true" height="30" width="30">
        <img class ='badges' src="assets/img/locallysourcedfood.svg"  ng-if="match.localFood===true" height="30" width="30">
        <img class ='badges' src="assets/img/minorityowned.svg"  ng-if="match.minorityOwned===true" height="30" width="30">
        <img class ='badges' src="assets/img/petfriendly.svg"  ng-if="match.petFriend===true" height="30" width="30">
        <img class ='badges' src="assets/img/charitiesnonprofits.svg"  ng-if="match.charNonprof===true" height="30" width="30">
        <img class ='badges' src="assets/img/sustainablepractices.svg"  ng-if="match.sustain===true" height="30" width="30">
        <img class ='badges' src="assets/img/veganpeta.svg"  ng-if="match.veganPeta===true" height="30" width="30">
        <i class="fa fa-hand" ng-if="match.claimBusiness===true"></i>
    </div>
    </li>
  </ul>
<!-- <div class="" ng-if="!pets">
  Loading results...
</div>
<div class="" ng-show="pets">
  <p>
    <i class="fa fa-google"></i>
  </p>
</div>
<div class="" ng-show="hiring">
  <p>
    <i class="fa fa-google"></i>
  </p>
</div>
<div class="" ng-repeat="biz in biz">
  {{biz.name}}
  <br>
  {{biz.address}}
  <br>
  {{biz.phone}}
  <p ng-if="biz.hiring===true">
    {{biz.zip_code}}
    True
  </p>
  <p ng-if="biz.hiring===false">
    {{biz.zip_code}}
    False
  </p>
  <p ng-if="biz.survey[0]==='veganPeta'">
    WE LIKE {{biz.survey[0]}}
    <br>
    WE LIKE {{biz.survey[1]}}
  </p>
</div>
<div class="">
  {{format}}
</div> -->


    </div>


  </main>
</div>
