<div id = "searchPageWrapper">
<form id = "searchPage-inputs">
  <input class = "searchPage-inputs--name" type = "text" ng-model= "bizName" placeholder="Name of business"></input>
  <input class = "searchPage-inputs--address" type = "text" ng-model = "bizAddress" placeholder="Business address"></input>
  <button id = "bizSetupSearch" ng-click = "searchToClaim()"> search </button>

<!--business listings modal-->

<div class = "businessInfo" ng-controller = "bizSearchLoadCtrl">
  <ul>
    <li ng-repeat="biz in businesses" class="biz">
      <div id="bizName"> {{data.name}}</div>
      <div id="bizOwner"> {{data.city}},{{data.location.state_code}}</div>
      <!-- <img ng-src="{{biz.image_url}}" alt="" /> -->
      <div id="bizInfo">
        {{data.phone}}
        <br>
        {{data.location.address}}


        <a href="{{biz.url}}">
        <i class="fa fa-yelp" aria-hidden="true"></i>
        </a>
      </div>
    </li>

  </ul>
