<div id = "searchPageWrapper">
<div id = "searchPage-inputs" ng-controller="bizSearchCtrl">
  <textarea id = "bizNameHere" ng-model="bizNameInput" type="text" placeholder="Name of business"></textarea>
  <textarea id = "bizAddressHere" type="text" placeholder="Business address"></textarea>
  <button ng-click ="seekBusiness()" id = "bizSetupSearch"> search </button>
</div>



<!--business listings modal-->

<div class = "businessInfo">
  <ul>
    <li ng-repeat="biz in businesses" class="biz">
      <div id="bizName"> {{data.name}}</div>
      <div id="bizOwner"> {{data.city}},{{data.location.state_code}}</div>
      <div id="bizInfo">
        {{data.phone}}
        <br>
        {{data.location.address}}


        <a href="{{biz.url}}">
        <i class="fa fa-yelp" aria-hidden="true"></i>
        </a>
      </div>
    </li>

  </ul>
