<!--for unique page identification-->
<div id = "businessEditPage">

<!--header-->
  <div id = "profileHeader">
    <img class = "pearlLogo" src = "assets/images/pearlLogo.svg">
    <div id = "profileHeader-contain">
    <span class = "pearlLogo-text"> Pearl </span>
    <p class = "profileHeader-search"> find me <input type = "text" placeholder = "i.e. waffles"></input>
      <span><button>
        search
      </button></span>
    </p>
  </div>
  </div>

<!--begin list of information-->
  <div id = "businessEditWrapper">

    <form id ="businessEditForm">
      <ul id = "businessBasicInfo">
          <li id="businessAddress">
            <inputplaceholder="address"></input>
          </li>
          <li id = "businessPhone">
            <input placeholder="phone number"></input>
          </li>
          <li id = "businessWebsite">
            <input placeholder="website"></input>
          <li>
      </ul>
  </div>

<!--list of hours-->
  <div id="businessHours">
    Business Hours
    <ul>
        <li class = "businessHours-day">
            Mon
            <input class="businessHours-time" id="M">
            </input>
        </li>
        <li class = "businessHours-day">
            Tues
            <input class="businessHours-time" id="T">
            </input>
        </li>
        <li class = "businessHours-day">
          Weds
            <input class="businessHours-time" id="W">
            </input>
        </li>
        <li class = "businessHours-day">
            Thurs
            <input class="businessHours-time" id="Th">
            </input>
        </li>
        <li class = "businessHours-day">
          Fri
            <input class="businessHours-time" id="F">
            </input>
        </li>
        <li class = "businessHours-day">
            Sat
            <input class="businessHours-time" id="Sa">
            </input>
        </li>
        <li class = "businessHours-day">
            Sun
            <input class="businessHours-time" id="Su">
            </input>
        </li>
      </ul>
    </div>

<div class = "businessEditContent">
  <textarea id = "businessEditContent-bio" placeholder "edit bio">
  </textarea></a>
</div>

</form>

  </div>
