<div id="bus_edit_profile">
  <header>
    <div class="logo">
      <h1>Pearl</h1>
      <img src="assets/img/pearlLogo-1.svg" alt="">

      <!-- <i class="fa fa-cog fa-2x" aria-hidden="true"></i> -->
      <div id = "headerSiteNav">
        <ul>
          <li>
            <span>
              <a id = "headerSiteNav-dashboard" href = "#/dashboard">dashboard</a>
              <a id = "headerSiteNav-profile" href= "#/places">profile</a>
              <a id = "headerSiteNav-settings" href= "#/business_edit">settings</a>
              <a id = "headerSiteNav-logout" href= "#/login">logout</a>
            </span>
          </li>
          <li>
            <a href = "#/business_search">
              <button id = "claimBusinessNow">Claim a business</button>
            </a>
          </li>
      </div>
    </div>
  </header>
  <main>
    <p class="profileHeader-search"> find me
        <input id = "searchNearMe" type="text" placeholder="i.e. waffles"></input>
        <span><button id = "searchNearMeBtn">
          search
        </button></span>
    </p>
    <div class="options">
      <h3 id="edit">Edit your business listing</h3>
      <!-- <h3 >{{username}}</h3> -->
    </div>
<ul>
  <li><input class="control" type="text" name='name' ng-model="name" placeholder="Business Name"></li>
<li><input class="control" type='text' name='address' ng-model='street' placeholder='Street Address'></li>
  <li><input class="control" type="text" name='city' ng-model="city" placeholder="City"></li>
  <li><input class="control" type="zipcode" name='zipcode' ng-model="zipcode" placeholder="Zipcode"></li>
    <li><input class="control" type="text" name="phone" ng-model="phone" placeholder="Phone"></li>
  <li><input class="control" type="text" name='website_url' ng-model="website_url" placeholder="Website URL (include http://)"></li>
    <li><input class="control" type="text" name='image_url' ng-model="image_url" placeholder="Image URL (include http://)"></li>
  <li><input class="control" type="text" name='biz_descrip' ng-model="biz_descrip" placeholder="Business Description"></li>
  <li><input class="submit" type="submit" ng-click="editSubmitButton()" value="Edit My Listing">
  <!-- </form> -->
    <!-- <ul class="ngDashboard">
      <li ng-repeat="biz in businesses" class="biz" id={{biz.id}} ng-click="logID()">
        <a href="#/places" id="chevron">
          <i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
        </a>
        <div id="bizName"> {{biz.name}}</div>
        <div id="bizOwner"> {{biz.owner}}</div>
        <div id="bizOwner">{{biz.address}}, {{biz.city}}</div>
        <div id="bizInfo">
          {{biz.phone}}
          <br>



          <a href="{{biz.website_url}}" id="yelp">
            <i class="fa fa-yelp" aria-hidden="true"></i>
          </a>
        </div>
      </li>

    </ul> -->

  </div>
  </main>
<!-- </div> -->
