<div id="businessQuestionnaire">
  <div id='businessQuestionnaireWrapper'>
    <div id="signUp">
<div class="headerWrap">
    <h2>Pearl</h2>
    <img src="assets/img/pearlLogo-1.svg" alt="" />
</div>
<div class="signUpWrap">
<!-- <h2>What sets you apart?</h2>
  <div>
  <form class="signUpForm">
    <div class='checkboxItems'>
      <label><input class='checkboxItems'type="checkbox" name="hiring"  ng-model='hiring' > Currently Hiring</label><br>
      <label><input type="checkbox" name="glutFree" ng-model='glutFree' > Gluten Free Options</label><br>
      <label><input type="checkbox" name="musicians" ng-model='musicians' > Host Local Musicians</label><br>
      <label><input type="checkbox" name="lgbt" ng-model='lgbt' > LGBT Friendly</label><br>
      <label><input type="checkbox" name="localFood" ng-model='localFood' > Locally Sourced Food</label><br>
      <label><input type="checkbox" name="minorityOwned" ng-model='pocOwned' > Minority Owned</label><br>
      <label><input type="checkbox" name="livWage" ng-model='livWage' > Pay a Living Wage</label><br>
      <label><input type="checkbox" name="petFriend" ng-model='petFriend' > Pet Friendly</label><br>
      <label><input type="checkbox" name="artsCrafts" ng-model=artsCrafts > Sell Local Art/Crafts</label><br>
      <label><input type="checkbox" name="charNonprof" ng-model='charNonprof' > Support Local Charities/Non-Profits</label><br>
      <label><input type="checkbox" name="sustain" ng-model='sustain' > Sustainable Practices</label><br>
      <label><input type="checkbox" name="veganPeta" ng-model='veganPeta'> Vegan/PETA Friendly</label><br>
</div> -->
  <h2>Add Your Business</h2>
  <form class="signUpForm">
    <input class="signUpInput" type="text" name='name' ng-model="name" placeholder="Business Name">
    <input class="signUpInput" type="text" name='address' ng-model="address" placeholder="Street Address">
    <input class="signUpInput" type="text" name='city' ng-model="city" placeholder="City">
    <input class="signUpInput" type="zipcode" name='zipcode' ng-model="zipcode" placeholder="Zipcode">
    <input class="signUpInput" type="text" name="phone" ng-model="phone" placeholder="Phone">
    <input class="signUpInput" type="text" name='website_url' ng-model="website_url" placeholder="Website URL (include http://)">
    <input class="signUpInput" type="text" name='image_url' ng-model="image_url" placeholder="Image URL (include http://)">
    <input class="signUpInput" type="text" name='biz_descrip' ng-model="biz_descrip" placeholder="Business Description">
    <input class="submit" type="submit" ng-click="clicked()" value="Get Listed">
  </form>
</div>
</div>
  </div>
</div>
