
    <div id='businessQuestionnaire'>
    <div class='container'>
    <header class='header'>
      <i class="fa fa-bars" aria-hidden="true"></i>
      <div class='pageTitle'>Keep It L<i class="fa fa-map-marker" aria-hidden="true"></i>cal</div>
    </header>
    <div class='stripe'></div>
    <div class='stripe2'></div>
    <div class='stripe3'></div>
<!-- Ask Jordan why a class AND id? -->
    <form class='new_business' id='new_business' action=''>
      <div class='field'>Business Name
        <input type="text" name='biz_name' value=''/>
      </div>
      <div class='field'>Street Address
        <input type="text" name='street_addr' value=''/>
      </div>
      <div class='field'>City
        <input type="text" name='city' value=''/>
      </div>
      <div class='field'>Zipcode
        <input type="text" name='zip' value=''/>
      </div>
      <div class='field'>Business Phone Number
        <input type="text" name='biz_phone' value=''/>
      </div>
      <div class='field'>Business URL
        <input type="text" name='biz_url' value='Include http://'/>
      </div>
      <div class='field'>Logo or Image URL to display in your listing
        <input type="text" name='logo_url' value='Include http://'/>
      </div>
      <div class='field'>Brief description of your business
        <input type="text" name='biz_descrip' value=''/>
      </div>
    </form>
    <div class='instructions'>What sets you apart?</div>
    <div class='instructions2'>Your business will be listed on the dashboard pages of users who indicated that these features matter to them.</div>

    <div class='questions'>
      <form action="demo_form.asp" method="get">
        <input type="checkbox" name="hiring" value=""> Currently Hiring<br>
        <input type="checkbox" name="envResp" value=""> Environmentally Responsible<br>
        <input type="checkbox" name="glutFree" value=""> Gluten Free Options<br>
        <input type="checkbox" name="musicians" value=""> Host Local Musicians<br>
        <input type="checkbox" name="lgbtq" value=""> LGBTQ Friendly<br>
        <input type="checkbox" name="localFood" value=""> Locally Sourced Food<br>
        <input type="checkbox" name="pocOwned" value=""> Owned by People of Color<br>
        <input type="checkbox" name="livWage" value=""> Pay a Living Wage<br>
        <input type="checkbox" name="petFriend" value=""> Pet Friendly<br>
        <input type="checkbox" name="artCrafts" value=""> Sell Local Art/Crafts<br>
        <input type="checkbox" name="charNonprof" value=""> Support Local Charities/Non-Profits<br>
        <input type="checkbox" name="sustain" value=""> Sustainable Practices<br>
        <input type="checkbox" name="veganPeta" value=""> Vegan/PETA Friendly<br>
        <!-- <input type="checkbox" name="" value="veganPeta" checked="unchecked"> Vegan/PETA friendly<br> -->
      <input type="submit" value="Submit">
    </form>
  </div>
  <div class='stripe4'></div>
  <div class='stripe5'></div>
  <div class='stripe6'></div>
  <footer>
  <div class='footerText'>Business Categories: <i class="fa fa-coffee" aria-hidden="true">   </i><i class="fa fa-wrench" aria-hidden="true"></i><i class="fa fa-shopping-cart" aria-hidden="true"></i><i class="fa fa-music" aria-hidden="true"></i> </footer>

</div>
</div>
</div>
