<div id='consumerQuestionnaire'>
  <div id='consumerQuestionnaireWrapper'>
    <div id="signUp">
<div class="headerWrap">
    <h2>Pearl</h2>
    <img src="assets/img/pearlLogo-1.svg" alt="" />
</div>
<div class="signUpWrap">
<h2>What matters to you?</h2>
  <div>
  <form class="signUpForm">
  <!-- in the process of trying an unordered list to create big circular buttons -->
      <ul>
        <li class='circle'><label><input  type="checkbox" name="hiring"  ng-model='hiring' > Currently Hiring</label></li><br>
      <li class='circle'<label><input type="checkbox" name="glutFree" ng-model='glutFree' > Gluten Free Options</label></li><br>
      <li<label><input type="checkbox" name="musicians" ng-model='musicians' > Host Local Musicians</label></li><br>
      <li<label><input type="checkbox" name="lgbt" ng-model='lgbt' > LGBT Friendly</label></li><br>
      <li<label><input type="checkbox" name="localFood" ng-model='localFood' > Locally Sourced Food</label></li><br>
      <li<label><input type="checkbox" name="minorityOwned" ng-model='pocOwned' > Minority Owned</label></li><br>
      <li<label><input type="checkbox" name="livWage" ng-model='livWage' > Pay a Living Wage</label></li><br>
    <li<label><input type="checkbox" name="petFriend" ng-model='petFriend' > Pet Friendly</label></li><br>
      <li<label><input type="checkbox" name="artsCrafts" ng-model=artsCrafts > Sell Local Art/Crafts</label></li><br>
      <li<label><input type="checkbox" name="charNonprof" ng-model='charNonprof' > Support Local Charities/Non-Profits</label></li><br>
      <li<label><input type="checkbox" name="sustain" ng-model='sustain' > Sustainable Practices</label></li><br>
      <li<label><input type="checkbox" name="veganPeta" ng-model='veganPeta'> Vegan/PETA Friendly</label><br>

  <label class='claimBus'><input type="checkbox" name="claimBusiness"  ng-model='claimBusiness'> I want to claim my business.</label><br>

    <input class="submit" type="submit" ng-click="clicked()" value="Next">
  </form>

  <!-- <label><input type="checkbox" name="claimBusiness"  ng-model='claimBusiness'> I want to claim my business.</label><br> -->

</div>
</div>
  </div>
</div>
