<div id="dashboard">
  <header id=headerNavBar>
    <div class="logo">
      <h1 id="pearlH1">Pearl</h1>
      <img src="assets/img/pearlLogo-1.svg" alt="" />

      <div class="dropdownMenu">
        <button ng-click="dropDown = !dropDown" class="dropdownbtn">
          <i class="fa fa-bars" id="hamburgerNav" aria-hidden="true"></i>
        </button>
        <div class="dropdownMenu-list" ng-show="dropDown">
            <a class="dropdownMenu-list--item" href="#/dashboard">Home</a>
            <a class="dropdownMenu-list--item" href="#/business_search">Search</a>
            <a class="dropdownMenu-list--item" href="#/business_edit">Settings</a>
        </div>

      </div>
    </div>
  </header>
  <main id="mainDashboard">
    <div class="profileHeader"><i class="fa fa-search"></i>
        <input id = "searchNearMe" type="text" placeholder="..."></input>
        <button id = "searchNearMeBtn">
          search
        </button>
    </div>
    <div class="options">
      <ul id="discover">
        <li id="liDiscover">
          <a href="#/dashboard">Discover</a>
        </li>
        <li id="liName">
          <a href="#/matches">{{firstname}}</a>
        </li>
      </ul>
      <h2 id="loading" ng-if="!businesses">Finding Treasures...</h2>

    </div>
<img class ='svg' src="assets/img/currentlyhiring.svg" alt="currently hiring" height="30" width="30" >
<img src="assets/img/glutenfree.svg" alt="currently hiring" height="30" width="30">
<img src="assets/img/localmusic.svg" alt="currently hiring" height="30" width="30">
<img src="assets/img/lgbtfriendly.svg" alt="currently hiring" height="30" width="30">
<img src="assets/img/locallysourcedfood.svg" alt="currently hiring" height="30" width="30">
<img src="assets/img/minorityowned.svg" alt="currently hiring" height="30" width="30">
<img src="assets/img/livingwage.svg" alt="currently hiring" height="30" width="30">
<img src="assets/img/petfriendly.svg" alt="currently hiring" height="30" width="30">
<img src="assets/img/localartcrafts.svg" alt="currently hiring" height="30" width="30">
<img src="assets/img/charitiesnonprofits.svg" alt="currently hiring" height="30" width="30">
<img src="assets/img/sustainablepractices.svg" alt="currently hiring" height="30" width="30">
<img src="assets/img/veganpeta.svg" alt="currently hiring" height="30" width="30">
    <ul class="ngDashboard">
      <li ng-repeat="biz in businesses" class="biz" id={{biz.id}} ng-click="logID()">
        <a href="#/places" id="chevron">
          <i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
        </a>
        <div id="bizName"> {{biz.name}}</div>
        <div id="bizOwner"> {{biz.owner}}</div>
        <div id="bizOwner">{{biz.address}}, {{biz.city}}</div>
        <div id="bizInfo">
          {{biz.phone}}
          <br>



          <a href="{{biz.website_url}}" id="yelp">
            <i class="fa fa-yelp" aria-hidden="true"></i>
          </a>
        </div>
      </li>

    </ul>
  </main>
</div>
