<div id="landingPage">

    <div class="landingWrap">

        <div class="leftWrap">


            <h2>Pearl</h2>
            <h3> Invest in your neighborhood treasures with Pearl.</h3>
            <img src="assets/img/pearlLogo-1.svg" alt="" />
        </div>
        <!-- action="#/dashboard" -->
        <div class="rightWrap">


            <!-- <form class="new_user" id="new_user" accept-charset="UTF-8"> -->
                <p class="field">
                  The growing Localization Movement proves that millions of Americans are invested in strengthening their communities. A new generation of consumers is making deliberate decisions about which businesses they support based on what matters to them.
                </p>
                <br>

                <h1 class='heading'>What Matters to You?</h1>
                <p class='field'>Pearl discovers what business features are important to you, and matches you with establishments that share those priorities.</p>
              <img class='screenshots' src="assets/img/consumer_survey_screenshot.jpg" alt="consumer survey" width="250">

              <h1 class='heading'>Learn more about your community businesses.</h1>
              <p class='field'>Post questions to businesses and receive answers in real time.  Help create Q & A boards so we all become more connected.</p>
            <img class='screenshots' src="assets/img/QandA_screenshot.jpg" alt="Q and A" width="250">

            <h1 class='heading'>View community businesses that share your priorities.</h1>
            <p class='field'>On your dashboard, see the community businesses that also care about what matters to you.</p>
          <img class='screenshots' src="assets/img/dashboard_screenshot.jpg" alt="business list" width="250">

                <div class="actions">
                    <input ng-click="login()" type="submit" name="commit" value="GET STARTED" data-disable-with="GET STARTED" />
                </div>
            <!-- </form> -->

            <a class="help" href="#/signup">SIGN UP</a>
            <a class="help" href="/users/password/new">FORGOT YOUR PASSWORD?</a>
        </div>
    </div>
</div>
