<div id="businessInfoWrap">
    <div id="profileHeader">
        <div id="profileHeader-contain">
            <span class="pearlLogo-text"> Pearl </span>
            <img class="pearlLogo" src="assets/images/pearlLogo.svg">
            <div class="dropdownMenu">
                <div id="hamburgerNav" ng-controller="navCtrl">
                <i class="fa fa-bars" aria-hidden="true" ng-click="navBtn()"></i>
              </div>
                <ul class="dropdownMenu-list">
                    <li class="dropdownMenu-list--item"><a href="#/dashboard">
              dashboard</a>
                    </li>
                    <li class="dropdownMenu-list--item"><a href="#/business_search">
              search</a>
                    </li>
                    <li class="dropdownMenu-list--item"><a href="#/business_edit">
              settings</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <!--begin actual content-->
    <div id="profileWrapper">
      <div id="actualBusinessProfile" ng-controller="bizController as biz">
        <div class="content">
            <h2 class="businessName">{{biz.data.name}}</h2>
        </div>
        <div id="businessInfo">
            <li class="businessInfo">Location:
              <div class="uniqueInfo">
                {{biz.data.address}}, {{biz.data.city}}, {{biz.data.zip}}
              </div>
            </li>
            <li class="businessInfo">Phone Number:
              <div class="uniqueInfo">
                tel: {{biz.data.phone}}
              </div>
            </li>
          </div>
        </div>

        <!--grid for infomration from business-->
        <div class="qaWrap">
            <!-- <div class="content"> -->

              <div id="qASectionContain" ng-controller="qCtrl">
                <input id="qASectionHead" ng-model="newPost" placeholder="ask this business a question">
              </input>
                  <button ng-click="askButton()" id = "askButton">
                   ask
                  </button>
                  <li class="newPost-post" ng-repeat="post in posts">
                      <!-- <input class="toDo-thing-checkbox" type="checkbox" ng-model="checked" ng-click="checkThing"></input> -->
                    {{post.content}}
                      <span class="newPost-post-delete" ng-click="deleteThing($index)">delete
                  </span>
                  </li>
                  </div>
                  <div id="qSectionContent" ng-repeat="q in qData">
                    <h3> Q </h3> {{q.qText}}
                    <br>
                  </div>
                </div>
                <div id = "previouslyPostedQA" ng-controller="loadQACtrl">
                  <div id = "allEntries">
                  <ul>
                    <li>this</li>
                    </ul>
                    <div id="aSectionContent" ng-repeat="a in answerData" ng-model="answerData" ng-controller = "answerCtrl">
                    <h3> A </h3><input id="answerInput">
                  </input>
                    <button ng-click="answerButton()" id = "answerButton">
                     reply
                    </button>
                    <p>{{a.answerText}}</p>
                  </div>
                  <!-- <p><button ng-click="getDirections()">Locate</button></p> -->
                  <div id="out"></div>
                  <div id="map" ng-controller="mapCtrl">
                    <!-- <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
                    <p ng-model="coords"> -->
                    <ui-gmap-google-map control="map.control" center="map.center" zoom="map.zoom">
                              <marker coords="marker.center"></marker>
                            </ui-gmap-google-map>
                            <form class="form-horizontal" role="form">
                              <div class="form-group">
                                <label id="mapOD" for="origin" class="col-sm-2 control-label">Origin</label>
                                <div class="col-sm-8">
                                  <input type="text" id="origin" class="form-control" ng-model="directions.origin" />
                                </div>
                              </div>
                              <div class="form-group">
                                <label id="mapOD" for="destination" class="col-sm-2 control-label">Destination</label>
                                <div class="col-sm-8">
                                  <input type="text" id="destination" class="form-control" ng-model="directions.destination" />
                                </div>
                              </div>
                              <div class="form-group">
                                <div id="mapBtn" class="col-sm-offset-2 col-sm-8">
                                  <button class="btn btn-primary" ng-click="getGMap()">Get Directions</button>
                                </div>
                              </div>
                            </form>
                            <div id="directionsList" ng-show="directions.showList" class="panel panel-primary"></div>
                  <!--  </p> -->
                  </div>
              </div>
        </div>
    </div>
