<div id="signUp">
  <div class="signUpWrap">
    <h2>Sign Up</h2>
    <form class="signUpForm" action="index.html" method="post">
      <input class="signUpInput" type="text" name="first_name" placeholder="First Name">
      <input class="signUpInput" type="text" name="last_name" placeholder="Last Name">
      <input class="signUpInput" type="email" name="email" placeholder="Email">
      <input class="signUpInput" type="password" name="password" placeholder="Password">
      <input class="signUpInput" type="zipcode" name="zipcode" placeholder="Zipcode">
      <input class="submit" type="submit" name="name" value="Get Started">
    </form>
  </div>
</div>
