html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#loginPage {
<<<<<<< HEAD
  width: 80%;
  margin: 0 auto;
  font-family: "Arimo", sans-serif; }
  #loginPage .loginWrap {
    border: 1px solid #9DDCDC;
    border-radius: 10px;
    margin: 2em;
    padding: 1em 1em 3em; }
    #loginPage .loginWrap h2 {
      font-family: "Galada", cursive;
      color: #E67A7A;
      text-align: center; }
    #loginPage .loginWrap .new_user .field {
      width: 40%;
      margin: 0em auto;
      padding: 1%; }
      #loginPage .loginWrap .new_user .field #user_email, #loginPage .loginWrap .new_user .field #user_password {
        font-size: 1.1em;
        border: none;
        border-bottom: 1px solid #9DDCDC;
        padding: 1%; }
      #loginPage .loginWrap .new_user .field .rememberMe {
        font-size: .75em; }
    #loginPage .loginWrap .new_user .actions {
      width: 40%;
      margin: 0 auto; }
      #loginPage .loginWrap .new_user .actions input {
        background: #9DDCDC;
        color: #9DDCDC;
        border: none;
        padding: 2%; }
    #loginPage .loginWrap .help {
      margin: 30%;
      font-size: .75em; }
=======
  width: 60%;
  margin: 0 auto;
  font-family: "Arimo", sans-serif; }
  #loginPage input:focus {
    outline: none; }
  #loginPage .loginWrap {
    border: 2px solid #9DDCDC;
    border-radius: 10px;
    margin: 4%;
    padding: 5% 1%;
    position: relative;
    height: 20em;
    box-shadow: 1px 1px 20px 1px rgba(42, 119, 119, 0.29); }
    #loginPage .loginWrap .leftWrap {
      width: 50%;
      position: absolute; }
      #loginPage .loginWrap .leftWrap h2 {
        font-family: "Galada", cursive;
        color: #E67A7A;
        text-align: center;
        font-size: 3em;
        padding: 1%; }
      #loginPage .loginWrap .leftWrap img {
        width: 75%; }
    #loginPage .loginWrap .rightWrap {
      width: 60%;
      position: absolute;
      right: 0;
      top: 20%; }
      #loginPage .loginWrap .rightWrap .new_user .field {
        width: 60%;
        margin: 0em auto;
        padding: 1%;
        line-height: 3em; }
        #loginPage .loginWrap .rightWrap .new_user .field #user_email, #loginPage .loginWrap .rightWrap .new_user .field #user_password {
          font-size: 1.1em;
          border: none;
          border-bottom: 1px solid #9DDCDC;
          padding: 1%;
          width: 100%; }
        #loginPage .loginWrap .rightWrap .new_user .field .rememberMe {
          font-size: .75em; }
      #loginPage .loginWrap .rightWrap .new_user .actions {
        width: 60%;
        margin: 0 auto; }
        #loginPage .loginWrap .rightWrap .new_user .actions input {
          background: #9DDCDC;
          color: white;
          border: none;
          padding: 3% 30%;
          margin: 5% auto;
          font-size: 1em;
          font-weight: 500;
          border-radius: 1px; }
      #loginPage .loginWrap .rightWrap .help {
        margin: 20%;
        font-size: .6em;
        color: #2a7777;
        line-height: 2em; }
        #loginPage .loginWrap .rightWrap .help:visited {
          color: #3aa2a2; }

#signUp .signUpWrap {
  width: 40%;
  margin: 5em auto;
  box-shadow: 5px 5px 35px 1px #9E9E9E;
  padding-bottom: .5%; }
#signUp h2 {
  background: #E67A7A;
  display: block;
  font-family: "Arimo", sans-serif;
  color: white;
  text-align: left;
  font-size: 2em;
  padding: 5%; }
#signUp .signUpForm {
  display: block; }
  #signUp .signUpForm .signUpInput {
    width: 90%;
    display: block;
    font-size: 1.1em;
    border: none;
    border-bottom: 1px solid #9DDCDC;
    padding: 1%;
    margin: 4%; }
    #signUp .signUpForm .signUpInput:focus {
      outline: none; }
  #signUp .signUpForm .submit {
    background: #E67A7A;
    display: block;
    font-family: "Arimo", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 2%;
    width: 90%;
    border: none;
    margin: 1% auto;
    cursor: pointer; }
>>>>>>> jlong

#dashboard .logo {
  font-family: "Galada", cursive;
  display: block;
  background: #9DDCDC;
  box-shadow: 1px 1px 1px grey; }
  #dashboard .logo h1 {
    font-size: 3em;
    display: inline-block;
    background: #9DDCDC;
    padding: 1%;
    color: #FFF4E1; }
  #dashboard .logo img {
    width: 2.5%; }
#dashboard .options {
  font-family: "Arimo", sans-serif; }
  #dashboard .options h3 {
    display: inline-block;
    padding: .5%;
    width: 20%;
    background: #E67A7A;
    color: rgba(10, 10, 10, 0.5);
    font-size: 2em;
    text-align: center;
    box-shadow: 1px 1px 1px grey; }
#dashboard .ngDashboard {
  font-family: "Arimo", sans-serif; }
  #dashboard .ngDashboard .biz {
    border: 1px solid #E67A7A;
    width: 50%;
    padding: 5%;
    margin: 1%; }
    #dashboard .ngDashboard .biz img {
      width: 50%; }
    #dashboard .ngDashboard .biz #bizName {
      font-size: 2em; }
    #dashboard .ngDashboard .biz #bizOwner {
      font-size: 1.2em; }

<<<<<<< HEAD
.container {
  border: 1px solid black;
  border-radius: 5px;
  height: 667px;
  width: 375px;
  background: #B2C9AB; }

header {
  display: block;
  width: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 5px 5px 0 0;
  background-color: #92B6B1;
  margin-left: auto;
  margin-right: auto;
  height: 55px;
  padding-bottom: 5px;
  padding-top: .5em;
  color: black; }

.fa-bars {
  padding: 5px;
  font-size: 2em;
  opacity: .5;
  display: inline;
  padding-left: .5em;
  padding-top: .5em; }

.pageTitle {
  font: Orbitron;
  color: black;
  font-size: 2.5em;
  text-align: center;
  opacity: .5;
  display: inline;
  padding-top: .5em;
  padding-left: 1em; }

.stripe {
  background-color: #666A86;
  margin-left: auto;
  margin-right: auto;
  height: 7px;
  width: 100%; }

.stripe2 {
  background-color: #E8DDB5;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  width: 100%; }

.stripe3 {
  background-color: #788AA3;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  width: 100%; }

.instructions {
  color: black;
  font-size: 1.75em;
  text-align: center;
  padding-top: .5em; }

.instructions2 {
  color: black;
  font-size: 1.75em;
  text-align: center;
  padding-bottom: 1em; }

.questions {
  color: black;
  font-size: 1.3em;
  padding-left: .5em;
  font-family: "Lato", Verdana, sans-serif; }

.stripe4 {
  background-color: #666A86;
  margin-left: auto;
  margin-right: auto;
  margin-top: 122px;
  height: 7px;
  width: 100%; }

.stripe5 {
  background-color: #E8DDB5;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  width: 100%; }

.stripe6 {
  background-color: #92B6B1;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  width: 100%; }

footer {
  display: block;
  width: 100%;
  border-radius: 0 0 5px 5px;
  background-color: #788AA3;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  padding-top: .5em; }

.footerText {
  color: black;
  font-size: 1.3em;
  padding-left: 1em;
  opacity: .5; }

.container {
  border-radius: 5px;
  height: 667px;
  width: 100%;
  background: #B2C9AB;
  color: red; }

=======
>>>>>>> jlong
/*# sourceMappingURL=styles.css.map */
