html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://dallasbass.com
*/
.grid:after,
[class*='col-'],
[class*='grid'],
[class*='mobile-'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding-right: 20px;
  /* column-space */ }

[class*='col-'] [class*='col-']:last-child {
  padding-right: 0; }

.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 748px;
  /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */
  margin: 0 auto;
  overflow: hidden; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

.grid-pad {
  padding-top: 20px;
  padding-left: 20px;
  /* grid-space to left */
  padding-right: 0;
  /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */ }

.push-right {
  float: right; }

/* Content Columns */
.col-1-2,
.col-6-12 {
  width: 40%; }

.col-1-3,
.col-4-12 {
  width: 33.33%;
  position: relative;
  margin: auto; }

.col-1-4,
.col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6,
.col-2-12 {
  width: 16.667%; }

.col-1-7 {
  width: 14.28%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.1%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09%; }

.col-1-12 {
  width: 8.33%; }

/* Layout Columns */
.col-11-12 {
  width: 91.66%; }

.col-10-12 {
  width: 83.333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66%; }

.col-7-12 {
  width: 58.33%; }

/* Pushing blocks */
.push-2-3,
.push-8-12 {
  margin-left: 66.66%; }

.push-1-2,
.push-6-12 {
  margin-left: 50%; }

.push-1-3,
.push-4-12 {
  margin-left: 33.33%; }

.push-1-4,
.push-3-12 {
  margin-left: 25%; }

.push-1-5 {
  margin-left: 20%; }

.push-1-6,
.push-2-12 {
  margin-left: 16.667%; }

.push-1-7 {
  margin-left: 14.28%; }

.push-1-8 {
  margin-left: 12.5%; }

.push-1-9 {
  margin-left: 11.1%; }

.push-1-10 {
  margin-left: 10%; }

.push-1-11 {
  margin-left: 9.09%; }

.push-1-12 {
  margin-left: 8.33%; }

/*end grid styling*/
#businessEditPage body {
  background-color: #FFEBB7; }
#businessEditPage #businessEditPage-wrapper {
  width: 80%;
  margin: auto;
  font-family: Rubik, sans-serif;
  color: #E67A7A; }
  #businessEditPage #businessEditPage-wrapper #profileHeader {
    width: 100%; }
    #businessEditPage #businessEditPage-wrapper #profileHeader .pearlLogo {
      display: inline-block;
      width: 5%;
      height: 5%;
      padding-top: 2%;
      position: relative;
      left: 48%; }
  #businessEditPage #businessEditPage-wrapper #profileHeader-contain {
    width: 80%;
    position: relative;
    left: 45%; }
    #businessEditPage #businessEditPage-wrapper #profileHeader-contain .pearlLogo-text {
      left: 45%;
      color: #E67A7A;
      font-size: 3em;
      font-family: Arvo;
      width: 10%;
      display: block;
      position: relative;
      left: 0;
      padding-bottom: 2%; }
    #businessEditPage #businessEditPage-wrapper #profileHeader-contain .profileHeader-search {
      position: relative;
      left: -15%;
      font-size: 1.5em;
      padding-bottom: 3%; }
      #businessEditPage #businessEditPage-wrapper #profileHeader-contain .profileHeader-search input {
        height: 1.5em;
        border-style: none;
        outline: none;
        margin-left: 0.65%;
        width: 40%;
        padding: 0.11%;
        border-radius: 1px; }
      #businessEditPage #businessEditPage-wrapper #profileHeader-contain .profileHeader-search button {
        margin-left: -3%;
        height: 1.73em;
        border-radius: 0 2px 2px 0;
        background-color: #9DDCDC;
        color: #FFF4E1;
        border-style: none;
        outline: none; }
#businessEditPage li {
  list-style: none; }
#businessEditPage .businessHours-hours {
  position: relative;
  left: -15%; }
#businessEditPage .businessBio {
  width: 80%;
  height: 15em; }

#businessInfoWrap {
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: Roboto, sans-serif;
  color: #9DDCDC; }
  #businessInfoWrap li {
    list-style: none; }
  #businessInfoWrap #profileHeader {
    color: #9DDCDC;
    width: 100%; }
    #businessInfoWrap #profileHeader .pearlLogo {
      display: inline-block;
      position: relative;
      width: 15%; }
    #businessInfoWrap #profileHeader #profileHeader-contain {
      position: relative;
      margin: 1% 5%; }
      #businessInfoWrap #profileHeader #profileHeader-contain .pearlLogo-text {
        font-size: 3em;
        font-family: "Arvo", serif;
        display: inline-block;
        position: relative;
        padding-bottom: 2%; }
      #businessInfoWrap #profileHeader #profileHeader-contain .dropdownMenu {
        display: inline-block;
        float: right;
        margin: 5%; }
        #businessInfoWrap #profileHeader #profileHeader-contain .dropdownMenu #hamburgerNav {
          position: relative;
          font-size: 3em; }
      #businessInfoWrap #profileHeader #profileHeader-contain .dropdownMenu-list--item {
        position: relative;
        left: 25%;
        display: none; }
      #businessInfoWrap #profileHeader #profileHeader-contain .profileHeader-search {
        position: relative;
        left: 40%;
        font-size: 1.5em;
        padding-bottom: 3%; }
        #businessInfoWrap #profileHeader #profileHeader-contain .profileHeader-search input {
          height: 1.5em;
          border-style: none;
          outline: none;
          margin-left: .65%;
          width: 40%;
          padding: .11%;
          border-radius: 1px;
          background-color: #EEE; }
        #businessInfoWrap #profileHeader #profileHeader-contain .profileHeader-search button {
          margin-left: -3%;
          height: 1.73em;
          border-radius: 0 2px 2px 0;
          background-color: #E67A7A;
          color: #FFF4E1;
          border-style: none;
          outline: none; }
  #businessInfoWrap #profileWrapper {
    font-family: Roboto, sans-serif;
    margin: auto;
    width: 100%; }
    #businessInfoWrap #profileWrapper .content .businessName {
      font-family: Roboto, sans-serif;
      letter-spacing: 2px;
      font-size: 30px;
      padding: 1%;
      margin: 6%;
      color: #9E9E9E;
      position: relative; }
    #businessInfoWrap #profileWrapper #businessInfo .businessInfo {
      margin: 7.5%;
      position: relative;
      color: #9E9E9E;
      letter-spacing: 1.5px;
      font-size: 16px; }
      #businessInfoWrap #profileWrapper #businessInfo .businessInfo .uniqueInfo {
        font-size: 12px;
        margin: 3% 0; }
    #businessInfoWrap #profileWrapper .qaWrap #qASectionContain {
      position: relative;
      color: #9E9E9E;
      display: block;
      margin: 0 auto; }
      #businessInfoWrap #profileWrapper .qaWrap #qASectionContain #qASectionHead {
        display: block;
        width: 80%;
        background-color: #EEE;
        outline: none;
        border: none;
        margin: 0 auto;
        font-size: 1.25em;
        padding: 3%; }
      #businessInfoWrap #profileWrapper .qaWrap #qASectionContain button {
        display: block;
        border-radius: 2px;
        background-color: #E67A7A;
        color: #FFF4E1;
        border-style: none;
        outline: none;
        margin: 0 auto;
        width: 86%;
        font-size: 1em;
        padding: 1%; }
      #businessInfoWrap #profileWrapper .qaWrap #qASectionContain #qASectionContent {
        padding: 5% 10%; }
      #businessInfoWrap #profileWrapper .qaWrap #qASectionContain #map {
        margin: 2% 10%; }
        #businessInfoWrap #profileWrapper .qaWrap #qASectionContain #map .angular-google-map-container {
          height: 300px;
          margin: 0 0 5% 0; }
        #businessInfoWrap #profileWrapper .qaWrap #qASectionContain #map .form-horizontal .form-group {
          margin: 2%;
          width: 100%; }
          #businessInfoWrap #profileWrapper .qaWrap #qASectionContain #map .form-horizontal .form-group input {
            border: none;
            font-size: 16px;
            font-family: "Roboto", sans-serif;
            color: #E67A7A;
            margin: 1%; }
          #businessInfoWrap #profileWrapper .qaWrap #qASectionContain #map .form-horizontal .form-group .col-sm-8 {
            float: none;
            display: inline-block;
            width: 100%; }
          #businessInfoWrap #profileWrapper .qaWrap #qASectionContain #map .form-horizontal .form-group #mapOD {
            float: none;
            display: inline-block;
            font-size: 20px; }
          #businessInfoWrap #profileWrapper .qaWrap #qASectionContain #map .form-horizontal .form-group button {
            display: inline-block;
            width: 95%; }
          #businessInfoWrap #profileWrapper .qaWrap #qASectionContain #map .form-horizontal .form-group #mapBtn {
            padding: 0; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: #2a7777;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s; }

@media screen and (min-width: 1020px) {
  #loginPage {
    width: 100%;
    margin: 0 auto;
    font-family: "Arimo", sans-serif; }
    #loginPage input:focus {
      outline: none; }
    #loginPage .loginWrap .leftWrap {
      width: 100%; }
      #loginPage .loginWrap .leftWrap h2 {
        box-shadow: 0px 10px 100px 20px rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        padding: 2% 50% 2% 30%;
        margin: 5% 0;
        font-family: "Arvo", serif;
        color: #E67A7A;
        font-size: 5em;
        position: absolute; }
      #loginPage .loginWrap .leftWrap img {
        width: 100%;
        position: absolute;
        z-index: -1;
        margin: -20% 0; }
    #loginPage .loginWrap .rightWrap {
      width: 100%;
      position: absolute; }
      #loginPage .loginWrap .rightWrap .new_user {
        margin: 20% 0 2%; }
        #loginPage .loginWrap .rightWrap .new_user .field {
          width: 30%;
          margin: 1% 22%; }
          #loginPage .loginWrap .rightWrap .new_user .field #user_email {
            font-size: 1.1em;
            border: none;
            border-bottom: 1px solid #9DDCDC;
            padding: 2%;
            width: 100%;
            height: 2em;
            letter-spacing: 2px; }
          #loginPage .loginWrap .rightWrap .new_user .field #user_password {
            font-size: 1.1em;
            border: none;
            border-bottom: 1px solid #9DDCDC;
            padding: 2%;
            width: 100%;
            height: 2em;
            letter-spacing: 2px; }
          #loginPage .loginWrap .rightWrap .new_user .field .rememberMe {
            font-size: .75em; }
        #loginPage .loginWrap .rightWrap .new_user .actions {
          margin: 3% 19%; }
          #loginPage .loginWrap .rightWrap .new_user .actions input {
            background: #E67A7A;
            color: white;
            border: none;
            padding: 2% 25%;
            margin: 0.5%;
            font-size: 1em;
            font-weight: 500;
            border-radius: 1px;
            letter-spacing: 2px; }
      #loginPage .loginWrap .rightWrap .help {
        margin: 1% 22%;
        display: block;
        font-size: .6em;
        color: #2a7777;
        line-height: 2em;
        letter-spacing: 2px; }
        #loginPage .loginWrap .rightWrap .help:visited {
          color: #3aa2a2; } }
@media screen and (max-width: 1020px) {
  #loginPage {
    width: 100%;
    margin: 0 auto;
    font-family: "Arimo", sans-serif; }
    #loginPage input:focus {
      outline: none; }
    #loginPage .loginWrap {
      position: relative;
      margin: 5%; }
      #loginPage .loginWrap .leftWrap {
        width: 100%;
        position: absolute; }
        #loginPage .loginWrap .leftWrap h2 {
          font-family: "Arvo", serif;
          color: #E67A7A;
          text-align: center;
          font-size: 3em;
          padding: 5% 0;
          box-shadow: 0px 10px 100px 20px rgba(255, 255, 255, 0.5);
          border-radius: 50%;
          letter-spacing: 2px; }
        #loginPage .loginWrap .leftWrap img {
          width: 100%;
          position: absolute;
          top: 0;
          margin: -48% 0%;
          z-index: -1; }
      #loginPage .loginWrap .rightWrap {
        width: 100%;
        position: absolute;
        margin: 50% 0 0; }
        #loginPage .loginWrap .rightWrap .new_user .field {
          width: 80%;
          margin: 0em auto;
          padding: 1%;
          line-height: 3em; }
          #loginPage .loginWrap .rightWrap .new_user .field #user_email {
            font-size: 1.1em;
            border: none;
            border-bottom: 1px solid #9DDCDC;
            padding: 3% 2%;
            width: 100%;
            letter-spacing: 2px; }
          #loginPage .loginWrap .rightWrap .new_user .field #user_password {
            font-size: 1.1em;
            border: none;
            border-bottom: 1px solid #9DDCDC;
            padding: 3% 2%;
            width: 100%;
            letter-spacing: 2px; }
          #loginPage .loginWrap .rightWrap .new_user .field .rememberMe {
            font-size: .75em; }
        #loginPage .loginWrap .rightWrap .new_user .actions {
          margin: 5% 10% 5%; }
          #loginPage .loginWrap .rightWrap .new_user .actions input {
            width: 100%;
            background: #E67A7A;
            color: white;
            border: none;
            padding: 5% 30%;
            margin: 5% auto;
            font-size: 1em;
            font-weight: 500;
            border-radius: 2px;
            letter-spacing: 1px; }
        #loginPage .loginWrap .rightWrap .help {
          margin: 2% 10%;
          font-size: .8em;
          color: #2a7777;
          line-height: 2em;
          text-decoration: none;
          border-bottom: 1px solid #9DDCDC;
          padding: .5%;
          display: inline-block;
          letter-spacing: 2px; }
          #loginPage .loginWrap .rightWrap .help:visited {
            color: #3aa2a2;
            text-decoration: none; } }
@media screen and (min-width: 1020px) {
  #signUp .headerWrap {
    display: block;
    position: relative; }
    #signUp .headerWrap h2 {
      font-family: "Arvo", serif;
      color: #E67A7A;
      text-align: center;
      font-size: 3em;
      padding: 2% 0;
      box-shadow: 0px 10px 100px 20px rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      letter-spacing: 2px; }
    #signUp .headerWrap img {
      width: 100%;
      position: absolute;
      top: 0;
      margin: -65% 0%;
      z-index: -1; }
  #signUp .signUpWrap {
    width: 40%;
    margin: 3% auto;
    padding-bottom: 1%;
    background-color: white; }
    #signUp .signUpWrap h2 {
      background: #E67A7A;
      display: block;
      font-family: "Roboto", sans-serif;
      color: white;
      text-align: left;
      font-size: 2em;
      padding: 5%;
      letter-spacing: 2px; }
  #signUp .signUpForm {
    display: block; }
    #signUp .signUpForm .signUpInput {
      width: 90%;
      display: block;
      font-size: 1.1em;
      border: none;
      border-bottom: 1px solid #9DDCDC;
      padding: 1%;
      margin: 4%;
      letter-spacing: 1px; }
      #signUp .signUpForm .signUpInput:focus {
        outline: none; }
    #signUp .signUpForm .submit {
      background: #E67A7A;
      display: block;
      font-family: "Roboto", sans-serif;
      color: white;
      text-align: center;
      font-size: 1.5em;
      padding: 2%;
      width: 90%;
      border: none;
      margin: 1% auto;
      cursor: pointer;
      letter-spacing: 1.5px; } }
@media screen and (max-width: 1000px) {
  #signUp .headerWrap {
    width: 98%;
    display: block;
    position: relative;
    margin: 0 2%; }
    #signUp .headerWrap h2 {
      font-family: "Arvo", serif;
      color: #E67A7A;
      text-align: center;
      font-size: 3em;
      padding: 2% 0;
      box-shadow: 0px 10px 100px 20px rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      letter-spacing: 2px; }
    #signUp .headerWrap img {
      width: 100%;
      position: absolute;
      top: 0;
      margin: -65% 0%;
      z-index: -1; }
  #signUp .signUpWrap {
    box-shadow: 0px 5px 15px 1px rgba(42, 119, 119, 0.1);
    padding-bottom: 3%;
    margin: 12% 1%;
    border-radius: 5%; }
    #signUp .signUpWrap h2 {
      background: #E67A7A;
      display: block;
      font-family: "Roboto", sans-serif;
      color: white;
      text-align: left;
      font-size: 2em;
      padding: 3%; }
  #signUp .signUpForm {
    display: block; }
    #signUp .signUpForm .signUpInput {
      width: 90%;
      display: block;
      font-size: 1.5em;
      border: none;
      border-bottom: 1px solid #9DDCDC;
      padding: 1%;
      line-height: 1.5em;
      margin: 4%; }
      #signUp .signUpForm .signUpInput:focus {
        outline: none; }
    #signUp .signUpForm .submit {
      background: #E67A7A;
      display: block;
      font-family: "Roboto", sans-serif;
      color: white;
      text-align: center;
      font-size: 1.5em;
      padding: 2%;
      width: 90%;
      border: none;
      margin: 1% auto;
      cursor: pointer;
      letter-spacing: 1.5px; } }
@media screen and (min-width: 1000px) {
  #dashboard .logo {
    display: block;
    margin: 1% 0% 0% 0%; }
    #dashboard .logo h1 {
      font-size: 3em;
      display: inline-block;
      padding: 1%;
      color: #E67A7A;
      letter-spacing: 2px;
      font-family: "Arvo", serif; }
    #dashboard .logo img {
      width: 35%;
      margin: -15% -20%;
      position: relative;
      z-index: -1; }
    #dashboard .logo #rightLogo {
      display: inline; }
      #dashboard .logo #rightLogo i {
        float: right;
        color: #AEB9BD;
        margin: 0 2%;
        font-size: 1.5em; }
        #dashboard .logo #rightLogo i span {
          font-family: "Roboto", sans-serif;
          padding: 2% 1.5%;
          font-size: 1em;
          position: absolute;
          right: 0;
          color: #E67A7A; }
      #dashboard .logo #rightLogo #userSurvey {
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        margin: 1.5%;
        position: absolute;
        top: 20%;
        right: 0;
        text-decoration: none;
        color: #9DDCDC; }
        #dashboard .logo #rightLogo #userSurvey:visited {
          text-decoration: none;
          color: #9DDCDC; }
      #dashboard .logo #rightLogo #bizSurvey {
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        margin: 1.5%;
        position: absolute;
        top: 30%;
        right: 0;
        text-decoration: none;
        color: #9DDCDC; }
        #dashboard .logo #rightLogo #bizSurvey:visited {
          text-decoration: none;
          color: #9DDCDC; }
  #dashboard .options {
    font-family: "Roboto", sans-serif;
    margin: 3% 5%; }
    #dashboard .options h3 {
      margin: 1% 2%;
      display: inline-block;
      color: #9E9E9E;
      font-size: 1.5em;
      text-align: left;
      border-bottom: 1px dotted #E67A7A;
      letter-spacing: 2px; }
    #dashboard .options #discover {
      margin-right: 5%;
      border-bottom: 1px dotted #E67A7A; }
      #dashboard .options #discover:hover {
        border-bottom: 1px solid #E67A7A; }
  #dashboard .ngDashboard {
    font-family: "Roboto", sans-serif; }
    #dashboard .ngDashboard .biz {
      border: 4px solid #E67A7A;
      border-radius: 2px;
      padding: 5%;
      margin: 5% 5%;
      display: block;
      box-shadow: 1px 1px 10px 0px rgba(128, 128, 128, 0.27); }
      #dashboard .ngDashboard .biz #chevron {
        margin: 1%;
        color: #E67A7A;
        float: right; }
      #dashboard .ngDashboard .biz img {
        width: 10%; }
      #dashboard .ngDashboard .biz #bizName {
        font-size: 2em;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1.5px; }
      #dashboard .ngDashboard .biz #bizOwner {
        font-size: 1.2em;
        letter-spacing: 1.5px; }
      #dashboard .ngDashboard .biz #bizInfo {
        font-size: 1em; }
        #dashboard .ngDashboard .biz #bizInfo #yelp {
          margin: 1%;
          color: #E67A7A; }
  #dashboard a {
    color: #E67A7A;
    font-family: Roboto, sans-serif;
    letter-spacing: 1.5px;
    text-decoration: none;
    margin: 0 .5%;
    padding: 0 1%;
    position: relative;
    display: inline-block;
    left: 60%; }
  #dashboard #headerSiteNav-dashboard, #dashboard #headerSiteNav-profile, #dashboard #headerSiteNav-settings {
    border-right: solid #E67A7A 1px; } }
@media screen and (max-width: 1000px) {
  #dashboard main p {
    margin: 5%;
    font-family: "Arvo", serif;
    color: #E67A7A; }
    #dashboard main p input {
      padding: 1%;
      width: 40%; }
  #dashboard .logo {
    display: block;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.27);
    margin: 1% 0% 0% 0%;
    padding: 1%; }
    #dashboard .logo #headerSiteNav ul {
      display: inline-block;
      float: right;
      position: absolute;
      top: 1%;
      right: 1%; }
      #dashboard .logo #headerSiteNav ul li button {
        border: none;
        background-color: #E67A7A;
        color: white;
        font-family: "Roboto", sans-serif;
        margin: 15%;
        font-size: 14px;
        letter-spacing: 1px;
        border-radius: 2px; }
      #dashboard .logo #headerSiteNav ul li span a {
        color: #E67A7A;
        font-family: Roboto, sans-serif;
        letter-spacing: 1.5px;
        text-decoration: none;
        display: block; }
    #dashboard .logo h1 {
      font-size: 3em;
      display: inline-block;
      padding: 1% 1% 1% 4%;
      color: #E67A7A;
      letter-spacing: 2px;
      font-family: "Arvo", serif; }
    #dashboard .logo img {
      width: 11%; }
    #dashboard .logo #rightLogo {
      display: inline; }
      #dashboard .logo #rightLogo i {
        float: right;
        color: #AEB9BD;
        margin: 0 5%;
        font-size: 1.5em; }
        #dashboard .logo #rightLogo i span {
          font-family: "Roboto", sans-serif;
          padding: 6%;
          font-size: 1em;
          position: absolute;
          right: 0;
          color: #E67A7A; }
      #dashboard .logo #rightLogo #userSurvey {
        display: none;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        margin: 1.5%;
        position: absolute;
        top: 11%;
        right: 0;
        text-decoration: none;
        color: #9DDCDC; }
        #dashboard .logo #rightLogo #userSurvey:visited {
          text-decoration: none;
          color: #9DDCDC; }
      #dashboard .logo #rightLogo #bizSurvey {
        display: none;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        margin: 1.5%;
        position: absolute;
        top: 14%;
        right: 0;
        text-decoration: none;
        color: #9DDCDC; }
        #dashboard .logo #rightLogo #bizSurvey:visited {
          text-decoration: none;
          color: #9DDCDC; }
  #dashboard .options {
    font-family: "Roboto", sans-serif;
    margin: 3% 5%; }
    #dashboard .options h3 {
      margin: 0% 2%;
      display: inline-block;
      color: #9E9E9E;
      font-size: 1.5em;
      text-align: left;
      border-bottom: 1px dotted #E67A7A;
      letter-spacing: 2px; }
    #dashboard .options #discover {
      border-bottom: 1px dotted #E67A7A; }
      #dashboard .options #discover:hover {
        border-bottom: 1px solid #E67A7A; }
  #dashboard .ngDashboard {
    font-family: "Roboto", sans-serif; }
    #dashboard .ngDashboard .biz {
      border: 4px solid #E67A7A;
      border-radius: 2px;
      padding: 5%;
      margin: 5% 5%;
      display: block;
      box-shadow: 1px 1px 10px 0px rgba(128, 128, 128, 0.27); }
      #dashboard .ngDashboard .biz #chevron {
        margin: 1%;
        color: #E67A7A;
        float: right; }
      #dashboard .ngDashboard .biz img {
        width: 10%; }
      #dashboard .ngDashboard .biz #bizName {
        font-size: 2em;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1.5px; }
      #dashboard .ngDashboard .biz #bizOwner {
        font-size: 1.2em;
        letter-spacing: 1.5px; }
      #dashboard .ngDashboard .biz #bizInfo {
        font-size: 1em; }
        #dashboard .ngDashboard .biz #bizInfo #yelp {
          margin: 1%;
          color: #E67A7A; } }
@media screen and (min-width: 1020px) {
  #consumerQuestionnaire .signUpWrap {
    width: 40%;
    margin: 5em auto;
    box-shadow: 5px 5px 35px 1px #9E9E9E;
    padding-bottom: .5%; }
  #consumerQuestionnaire h2 {
    display: block;
    font-family: "Roboto", sans-serif;
    color: #E67A7A;
    text-align: left;
    font-size: 2em;
    padding: 5%; }
  #consumerQuestionnaire .signUpForm {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    color: #9E9E9E; }
    #consumerQuestionnaire .signUpForm .signUpInput {
      width: 90%;
      display: block;
      font-size: 1.1em;
      border: none;
      border-bottom: 1px solid #9DDCDC;
      padding: 1%;
      margin: 4%; }
      #consumerQuestionnaire .signUpForm .signUpInput:focus {
        outline: none; }
    #consumerQuestionnaire .signUpForm label, #consumerQuestionnaire .signUpForm input {
      cursor: pointer;
      cursor: hand; }
    #consumerQuestionnaire .signUpForm .black {
      color: black; }
    #consumerQuestionnaire .signUpForm input {
      margin: 5% 1%;
      display: none; }
    #consumerQuestionnaire .signUpForm li.black {
      color: black; }
    #consumerQuestionnaire .signUpForm .claimBus {
      color: #E67A7A; }
    #consumerQuestionnaire .signUpForm .submit {
      background: #E67A7A;
      display: block;
      font-family: "Roboto", sans-serif;
      color: white;
      text-align: center;
      font-size: 1.5em;
      padding: 2%;
      width: 90%;
      border: none;
      margin: 1% auto;
      cursor: pointer;
      letter-spacing: 1.5px; } }
@media screen and (max-width: 1020px) {
  #headerNavBar .logo {
    display: block;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.27);
    margin: 0%;
    padding: 1%; }
    #headerNavBar .logo #pearlH1 {
      font-size: 3em;
      display: inline-block;
      padding: 1% 1% 1% 4%;
      color: #E67A7A;
      letter-spacing: 2px;
      font-family: "Arvo", serif;
      cursor: pointer; }
    #headerNavBar .logo img {
      width: 11%; }
    #headerNavBar .logo .dropdownMenu {
      position: absolute;
      top: 1%;
      right: 5%;
      z-index: 2; }
      #headerNavBar .logo .dropdownMenu .dropdownbtn {
        background-color: white;
        border: none;
        cursor: pointer;
        font-size: 1em;
        margin: 2%; }
        #headerNavBar .logo .dropdownMenu .dropdownbtn:focus {
          outline: none; }
        #headerNavBar .logo .dropdownMenu .dropdownbtn .fa-bars {
          position: relative;
          font-size: 3em;
          color: #E67A7A; }
      #headerNavBar .logo .dropdownMenu .dropdownMenu-list {
        position: absolute;
        background-color: #9DDCDC;
        right: 0%;
        text-align: right;
        padding: 15% 30%;
        box-shadow: 1px 5px 10px 0px rgba(42, 119, 119, 0.5);
        border-radius: 2px; }
        #headerNavBar .logo .dropdownMenu .dropdownMenu-list .dropdownMenu-list--item {
          font-family: "Arimo", sans-serif;
          font-size: 2em;
          display: block;
          text-decoration: none;
          color: #E67A7A;
          border-bottom: 1px dotted #E67A7A;
          line-height: 1.7;
          margin-bottom: 10%;
          text-shadow: 1px 1px rgba(42, 119, 119, 0.5); }

  #signUp .headerWrap {
    width: 98%;
    display: block;
    position: relative;
    margin: 0 2%; }
    #signUp .headerWrap h2 {
      font-family: "Arvo", serif;
      color: #E67A7A;
      text-align: center;
      font-size: 3em;
      padding: 2% 0;
      box-shadow: 0px 10px 100px 20px rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      letter-spacing: 2px; }
    #signUp .headerWrap .checkboxItems {
      color: #9E9E9E;
      font-size: 1em; }
    #signUp .headerWrap img {
      width: 100%;
      position: absolute;
      top: 0;
      margin: -65% 0%;
      z-index: -1; }
  #signUp .signUpWrap {
    box-shadow: 0px 5px 15px 1px rgba(42, 119, 119, 0.1);
    padding-bottom: 3%;
    margin: 12% 1%;
    border-radius: 5%; }
    #signUp .signUpWrap h2 {
      background: #E67A7A;
      display: block;
      font-family: "Roboto", sans-serif;
      color: white;
      text-align: left;
      font-size: 2em;
      padding: 3%; }
  #signUp .signUpForm {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    color: #9E9E9E; }
  #signUp ul {
    margin: 2%; }
  #signUp .signUpFormClicked {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    color: black; }
  #signUp .circle {
    width: 44px;
    height: 44px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    border: 1px solid #bbb; }
  #signUp .signUpInput {
    width: 90%;
    display: block;
    font-size: 1.5em;
    border: none;
    border-bottom: 1px solid #9DDCDC;
    padding: 1%;
    line-height: 1.5em;
    margin: 4%; }
    #signUp .signUpInput:focus {
      outline: none; }
  #signUp label, #signUp input {
    cursor: pointer;
    cursor: hand; }
  #signUp input {
    margin: 5% 1%;
    display: none;
    padding: 5%; }

  .claimBus {
    color: #E67A7A;
    margin: 5% 2% 0%;
    display: block; }

  .submit {
    background: #E67A7A;
    display: block;
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 2%;
    width: 90%;
    border: none;
    margin: 1% auto;
    cursor: pointer;
    letter-spacing: 1.5px; } }
@media screen and (min-width: 1020px) {
  #businessQuestionnaire .signUpWrap {
    width: 40%;
    margin: 5em auto;
    box-shadow: 5px 5px 35px 1px #9E9E9E;
    padding-bottom: .5%; }
  #businessQuestionnaire h2 {
    display: block;
    font-family: "Roboto", sans-serif;
    color: #E67A7A;
    text-align: left;
    font-size: 2em;
    padding: 5%; }
  #businessQuestionnaire .signUpForm {
    display: block; }
    #businessQuestionnaire .signUpForm .signUpInput {
      width: 90%;
      display: block;
      font-size: 1.5em;
      border: none;
      border-bottom: 1px solid #9DDCDC;
      padding: 1%;
      margin: 4%; }
      #businessQuestionnaire .signUpForm .signUpInput:focus {
        outline: none; }
    #businessQuestionnaire .signUpForm input {
      margin: 5% 1%; }
    #businessQuestionnaire .signUpForm .submit {
      background: #E67A7A;
      display: block;
      font-family: "Roboto", sans-serif;
      color: white;
      text-align: center;
      font-size: 1.5em;
      padding: 2%;
      width: 90%;
      border: none;
      margin: 1% auto;
      cursor: pointer;
      letter-spacing: 1.5px; } }
@media screen and (max-width: 1020px) {
  #signUp .headerWrap {
    width: 98%;
    display: block;
    position: relative;
    margin: 0 2%; }
    #signUp .headerWrap h2 {
      font-family: "Arvo", serif;
      color: #E67A7A;
      text-align: center;
      font-size: 3em;
      padding: 2% 0;
      box-shadow: 0px 10px 100px 20px rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      letter-spacing: 2px; }
    #signUp .headerWrap img {
      width: 100%;
      position: absolute;
      top: 0;
      margin: -65% 0%;
      z-index: -1; }
  #signUp .signUpWrap {
    box-shadow: 0px 5px 15px 1px rgba(42, 119, 119, 0.1);
    padding-bottom: 3%;
    margin: 12% 1%;
    border-radius: 5%; }
    #signUp .signUpWrap h2 {
      background: #E67A7A;
      display: block;
      font-family: "Roboto", sans-serif;
      color: white;
      text-align: left;
      font-size: 30px;
      padding: 3%; }
  #signUp .signUpForm {
    display: block; }
    #signUp .signUpForm .checkboxItems {
      font-family: "Roboto", sans-serif;
      font-size: .9em;
      color: #9E9E9E; }
    #signUp .signUpForm .signUpInput {
      width: 90%;
      display: block;
      font-size: 1em;
      border: none;
      border-bottom: 1px solid #9DDCDC;
      padding: 1%;
      line-height: 1.5em;
      margin: 4%; }
      #signUp .signUpForm .signUpInput:focus {
        outline: none; }
    #signUp .signUpForm .submit {
      background: #E67A7A;
      display: block;
      font-family: "Roboto", sans-serif;
      color: white;
      text-align: center;
      font-size: 1.5em;
      padding: 2%;
      width: 90%;
      border: none;
      margin: 1% auto;
      cursor: pointer;
      letter-spacing: 1.5px; } }
@media screen and (min-width: 1000px) {
  #bus_edit_profile .control {
    width: 90%;
    display: block;
    font-size: 1.5em;
    border: none;
    border-bottom: 1px solid #9DDCDC;
    padding: 1%;
    margin: 4%; }
    #bus_edit_profile .control:focus {
      outline: none; }
  #bus_edit_profile .logo {
    display: block;
    margin: 1% 0% 0% 0%; }
    #bus_edit_profile .logo h1 {
      font-size: 3em;
      display: inline-block;
      padding: 1%;
      color: #E67A7A;
      letter-spacing: 2px;
      font-family: "Arvo", serif; }
    #bus_edit_profile .logo img {
      width: 35%;
      margin: -15% -20%;
      position: relative;
      z-index: -1; }
    #bus_edit_profile .logo #rightLogo {
      display: inline; }
      #bus_edit_profile .logo #rightLogo i {
        float: right;
        color: #AEB9BD;
        margin: 0 2%;
        font-size: 1.5em; }
        #bus_edit_profile .logo #rightLogo i span {
          font-family: "Roboto", sans-serif;
          padding: 2% 1.5%;
          font-size: 1em;
          position: absolute;
          right: 0;
          color: #E67A7A; }
      #bus_edit_profile .logo #rightLogo .signUpForm {
        display: block; }
        #bus_edit_profile .logo #rightLogo .signUpForm .editInput {
          width: 90%;
          display: block;
          font-size: 1.5em;
          border: none;
          border-bottom: 1px solid #9DDCDC;
          padding: 1%;
          margin: 4%; }
          #bus_edit_profile .logo #rightLogo .signUpForm .editInput:focus {
            outline: none; }
        #bus_edit_profile .logo #rightLogo .signUpForm input {
          margin: 5% 1%; }
        #bus_edit_profile .logo #rightLogo .signUpForm .submit {
          background: #E67A7A;
          display: block;
          font-family: "Roboto", sans-serif;
          color: white;
          text-align: center;
          font-size: 1.5em;
          padding: 2%;
          width: 90%;
          border: none;
          margin: 1% auto;
          cursor: pointer;
          letter-spacing: 1.5px; }
      #bus_edit_profile .logo #rightLogo #userSurvey {
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        margin: 1.5%;
        position: absolute;
        top: 20%;
        right: 0;
        text-decoration: none;
        color: #9DDCDC; }
        #bus_edit_profile .logo #rightLogo #userSurvey:visited {
          text-decoration: none;
          color: #9DDCDC; }
      #bus_edit_profile .logo #rightLogo #bizSurvey {
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        margin: 1.5%;
        position: absolute;
        top: 30%;
        right: 0;
        text-decoration: none;
        color: #9DDCDC; }
        #bus_edit_profile .logo #rightLogo #bizSurvey:visited {
          text-decoration: none;
          color: #9DDCDC; }
  #bus_edit_profile .options {
    font-family: "Roboto", sans-serif;
    margin: 3% 5%; }
    #bus_edit_profile .options h3 {
      margin: 1% 2%;
      display: inline-block;
      color: #3aa2a2;
      font-size: 1.5em;
      text-align: left;
      border-bottom: 1px dotted #E67A7A;
      letter-spacing: 2px; }
    #bus_edit_profile .options #discover {
      margin-right: 5%;
      border-bottom: 1px dotted #E67A7A; }
      #bus_edit_profile .options #discover:hover {
        border-bottom: 1px solid #E67A7A; }
  #bus_edit_profile .ngDashboard {
    font-family: "Roboto", sans-serif; }
    #bus_edit_profile .ngDashboard .biz {
      border: 4px solid #E67A7A;
      border-radius: 2px;
      padding: 5%;
      margin: 5% 5%;
      display: block;
      box-shadow: 1px 1px 10px 0px rgba(128, 128, 128, 0.27); }
      #bus_edit_profile .ngDashboard .biz #chevron {
        margin: 1%;
        color: #E67A7A;
        float: right; }
      #bus_edit_profile .ngDashboard .biz img {
        width: 10%; }
      #bus_edit_profile .ngDashboard .biz #bizName {
        font-size: 2em;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1.5px; }
      #bus_edit_profile .ngDashboard .biz #bizOwner {
        font-size: 1.2em;
        letter-spacing: 1.5px; }
      #bus_edit_profile .ngDashboard .biz #bizInfo {
        font-size: 1em; }
        #bus_edit_profile .ngDashboard .biz #bizInfo #yelp {
          margin: 1%;
          color: #E67A7A; }
  #bus_edit_profile a {
    color: #E67A7A;
    font-family: Roboto, sans-serif;
    letter-spacing: 1.5px;
    text-decoration: none;
    margin: 0 .5%;
    padding: 0 1%;
    position: relative;
    display: inline-block;
    left: 60%; }
  #bus_edit_profile #headerSiteNav-dashboard, #bus_edit_profile #headerSiteNav-profile, #bus_edit_profile #headerSiteNav-settings {
    border-right: solid #E67A7A 1px; } }
@media screen and (max-width: 1000px) {
  #bus_edit_profile .control {
    width: 90%;
    display: block;
    font-size: 1.5em;
    border: none;
    border-bottom: 1px solid #9DDCDC;
    padding: 1%;
    margin: 4%; }
    #bus_edit_profile .control:focus {
      outline: none; }
  #bus_edit_profile main p {
    margin: 5%;
    font-family: "Arvo", serif;
    color: #E67A7A; }
    #bus_edit_profile main p input {
      padding: 1%;
      width: 40%; }
  #bus_edit_profile .logo {
    display: block;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.27);
    margin: 1% 0% 0% 0%;
    padding: 1%; }
    #bus_edit_profile .logo #headerSiteNav ul {
      display: inline-block;
      float: right;
      position: absolute;
      top: 1%;
      right: 1%; }
      #bus_edit_profile .logo #headerSiteNav ul li button {
        border: none;
        background-color: #E67A7A;
        color: white;
        font-family: "Roboto", sans-serif;
        margin: 15%;
        font-size: 14px;
        letter-spacing: 1px;
        border-radius: 2px; }
      #bus_edit_profile .logo #headerSiteNav ul li span a {
        color: #E67A7A;
        font-family: Roboto, sans-serif;
        letter-spacing: 1.5px;
        text-decoration: none;
        display: block; }
    #bus_edit_profile .logo h1 {
      font-size: 3em;
      display: inline-block;
      padding: 1% 1% 1% 4%;
      color: #E67A7A;
      letter-spacing: 2px;
      font-family: "Arvo", serif; }
    #bus_edit_profile .logo img {
      width: 11%; }
    #bus_edit_profile .logo #rightLogo {
      display: inline; }
      #bus_edit_profile .logo #rightLogo i {
        float: right;
        color: #AEB9BD;
        margin: 0 5%;
        font-size: 1.5em; }
        #bus_edit_profile .logo #rightLogo i span {
          font-family: "Roboto", sans-serif;
          padding: 6%;
          font-size: 1em;
          position: absolute;
          right: 0;
          color: #E67A7A; }
      #bus_edit_profile .logo #rightLogo .editInput {
        width: 90%;
        display: block;
        font-size: 1.5em;
        border: none;
        border-bottom: 1px solid #9DDCDC;
        padding: 1%;
        margin: 4%; }
        #bus_edit_profile .logo #rightLogo .editInput:focus {
          outline: none; }
      #bus_edit_profile .logo #rightLogo #userSurvey {
        display: none;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        margin: 1.5%;
        position: absolute;
        top: 11%;
        right: 0;
        text-decoration: none;
        color: #9DDCDC; }
        #bus_edit_profile .logo #rightLogo #userSurvey:visited {
          text-decoration: none;
          color: #9DDCDC; }
      #bus_edit_profile .logo #rightLogo #bizSurvey {
        display: none;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        margin: 1.5%;
        position: absolute;
        top: 14%;
        right: 0;
        text-decoration: none;
        color: #9DDCDC; }
        #bus_edit_profile .logo #rightLogo #bizSurvey:visited {
          text-decoration: none;
          color: #9DDCDC; }
  #bus_edit_profile .options {
    font-family: "Roboto", sans-serif;
    margin: 3% 5%; }
    #bus_edit_profile .options h3 {
      margin: 0% 2%;
      display: inline-block;
      color: #3aa2a2;
      font-size: 1.5em;
      text-align: left;
      border-bottom: 1px dotted #E67A7A;
      letter-spacing: 2px; }
    #bus_edit_profile .options #edit {
      border-bottom: 1px dotted #E67A7A; }
      #bus_edit_profile .options #edit:hover {
        border-bottom: 1px solid #E67A7A; }
  #bus_edit_profile .ngDashboard {
    font-family: "Roboto", sans-serif; }
    #bus_edit_profile .ngDashboard .biz {
      border: 4px solid #E67A7A;
      border-radius: 2px;
      padding: 5%;
      margin: 5% 5%;
      display: block;
      box-shadow: 1px 1px 10px 0px rgba(128, 128, 128, 0.27); }
      #bus_edit_profile .ngDashboard .biz #chevron {
        margin: 1%;
        color: #E67A7A;
        float: right; }
      #bus_edit_profile .ngDashboard .biz img {
        width: 10%; }
      #bus_edit_profile .ngDashboard .biz #bizName {
        font-size: 2em;
        font-family: "Roboto", sans-serif;
        letter-spacing: 1.5px; }
      #bus_edit_profile .ngDashboard .biz #bizOwner {
        font-size: 1.2em;
        letter-spacing: 1.5px; }
      #bus_edit_profile .ngDashboard .biz #bizInfo {
        font-size: 1em; }
        #bus_edit_profile .ngDashboard .biz #bizInfo #yelp {
          margin: 1%;
          color: #E67A7A; } }

/*# sourceMappingURL=styles.css.map */
