@import '../../bower_components/meyer-reset/meyer-reset';

$font1: 'Galada', cursive;
$font2: 'Arimo', sans-serif;
$font3: 'Fugaz One', cursive;
$font4: 'Roboto', sans-serif;
$font5: 'Arvo', serif;

$blue: #9DDCDC;
$tan: #FFF4E1;
$yellow: #FFEBB7;
$red: #E67A7A;
$charcoal: #6F6F6F;
$grey: #AEB9BD;
$darkGrey: #9E9E9E;
$white: #E0E0E0;
$darkBlue: #2a7777;
$medBlue: #3aa2a2;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: $darkBlue;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

@import "partials/header";
@import "partials/footer";
@import "partials/profile";
@import "partials/login";
@import "partials/signup";
@import "partials/dashboard";
@import "partials/matches";
@import "partials/consumer_questionnaire";
@import "partials/edit";
@import "partials/home";
@import "partials/biz_search";
