@import '../../bower_components/meyer-reset/meyer-reset';

$font1: 'Galada', cursive;
$font2: 'Arimo', sans-serif;

$blue: #9DDCDC;
$tan: #FFF4E1;
$yellow: #FFEBB7;
$red: #E67A7A;



@import "partials/login";
@import "partials/dashboard";
