// laptop view
@media screen and (min-width: 1000px) {
  #bus_edit_profile{

.control{
  width: 90%;
  display: block;
  font-size:1.5em;
  border: none;
  border-bottom: 1px solid $blue;
  padding: 1%;
  margin: 4%;
  &:focus{
    outline: none;
  }
}

    .logo{
      display: block;
      margin: 1% 0% 0% 0%;
      h1{
        font-size: 3em;
        display: inline-block;
        padding: 1%;
        color: $red;
        letter-spacing: 2px;
        font-family: $font5;
      }
      img{
        width: 35%;
        margin: -15% -20%;
        position: relative;
        z-index: -1;
      }
      #rightLogo{
        display: inline;
        i{
          float: right;
          color: $grey;
          margin: 0 2%;
          font-size: 1.5em;
          span{
            font-family: $font4;
            padding: 2% 1.5%;
            font-size: 1em;
            position: absolute;
            right: 0;
            color: $red;
          }
        }
        .signUpForm{
          display: block;
          // font-family: $font4;
          // font-size: 1.5em;
          // color:$darkGrey;

          // .checkboxItems{
          // font-family: $font4;
          // font-size: 1.5em;
          // color:$darkGrey;
          // }

          .editInput{
            width: 90%;
            display: block;
            font-size:1.5em;
            border: none;
            border-bottom: 1px solid $blue;
            padding: 1%;
            margin: 4%;
            &:focus{
              outline: none;
            }
          }

          // label, input{
          //   cursor: pointer;
          //   cursor: hand;
          // }

          input{
            margin: 5% 1%;
          }

          .submit{
            background: $red;
            display: block;
            font-family: $font4;
            color: white;
            text-align: center;
            font-size: 1.5em;
            padding: 2%;
            width: 90%;
            border: none;
            margin: 1% auto;
            cursor: pointer;
            letter-spacing: 1.5px;
          }
        }
        #userSurvey{
          font-family: $font4;
          text-decoration: none;
          margin: 1.5%;
          position: absolute;
          top: 20%;
          right: 0;
          text-decoration: none;
          color: $blue;
          &:visited{
            text-decoration: none;
            color: $blue;
          }
        }
        #bizSurvey{
          font-family: $font4;
          text-decoration: none;
          margin: 1.5%;
          position: absolute;
          top: 30%;
          right: 0;
          text-decoration: none;
          color: $blue;
          &:visited{
            text-decoration: none;
            color: $blue;
          }
        }
        }
      }
      .options{
        font-family: $font4;
        margin: 3% 5%;
        h3{
          margin: 1% 2%;
          display: inline-block;
          color: $medBlue;
          font-size: 1.5em;
          text-align: left;
          border-bottom: 1px dotted $red;
          letter-spacing: 2px;
        }
        #discover{
          margin-right: 5%;
          border-bottom: 1px dotted $red;
          &:hover{
            border-bottom: 1px solid $red;
          }
        }
      }
      .ngDashboard{
        font-family: $font4;
        .biz{
          border: 4px solid #E67A7A;
          border-radius: 2px;
          padding: 5%;
          margin: 5% 5%;
          display: block;
          box-shadow: 1px 1px 10px 0px rgba(128, 128, 128, 0.27);
          #chevron{
            margin: 1%;
            color: $red;
            float: right;
          }
          img{
            width: 10%;
          }
        #bizName{
          font-size: 2em;
          font-family: $font4;
          letter-spacing: 1.5px;
        }
        #bizOwner{
          font-size: 1.2em;
          letter-spacing: 1.5px;
        }
        #bizInfo{
          font-size: 1em;
          #yelp{
            margin: 1%;
            color: $red;
          }
        }
      }
      }
      a{
        color: $red;
        font-family: Roboto, sans-serif;
        letter-spacing: 1.5px;
        text-decoration: none;
        margin: 0 .5%;
        padding: 0 1%;
        position: relative;
        display: inline-block;
        left: 60%;
      }
      #headerSiteNav-dashboard, #headerSiteNav-profile, #headerSiteNav-settings {
        border-right: solid $red 1px;
      }
    }
  }
  // mobile view
@media screen and (max-width: 1000px) {
  #bus_edit_profile{

    .control{
      width: 90%;
      display: block;
      font-size:1.5em;
      border: none;
      border-bottom: 1px solid $blue;
      padding: 1%;
      margin: 4%;
      &:focus{
        outline: none;
      }
    }

    main{
      p{
        margin: 5%;
        font-family: $font5;
        color: $red;
        input{
          padding: 1%;
          width: 40%;
        }
      }
    }
    .logo{
      display: block;
      box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.27);
      margin: 1% 0% 0% 0%;
      padding: 1%;
      #headerSiteNav{
        ul{
          display: inline-block;
          float: right;
          position: absolute;
          top: 1%;
          right: 1%;
          li{
            button{
              border: none;
              background-color: $red;
              color: white;
              font-family: $font4;
              margin: 15%;
              font-size: 14px;
              letter-spacing: 1px;
              border-radius: 2px;
            }
            span{
              a{
                color: $red;
                font-family: Roboto, sans-serif;
                letter-spacing: 1.5px;
                text-decoration: none;
                display: block;
              }
            }
          }
        }
      }
      h1{
        font-size: 3em;
        display: inline-block;
        padding: 1% 1% 1% 4%;
        color: $red;
        letter-spacing: 2px;
        font-family: $font5;

      }
      img{
        width: 11%;
      }
      #rightLogo{
        display: inline;
        i{
          float: right;
          color: $grey;
          margin: 0 5%;
          font-size: 1.5em;
          span{
            font-family: $font4;
            padding: 6%;
            font-size: 1em;
            position: absolute;
            right: 0;
            color: $red;
          }
        }

        .editInput{
          width: 90%;
          display: block;
          font-size:1.5em;
          border: none;
          border-bottom: 1px solid $blue;
          padding: 1%;
          margin: 4%;
          &:focus{
            outline: none;
          }
        }

        #userSurvey{
          display: none;
          font-family: $font4;
          text-decoration: none;
          margin: 1.5%;
          position: absolute;
          top: 11%;
          right: 0;
          text-decoration: none;
          color: $blue;
          &:visited{
            text-decoration: none;
            color: $blue;
          }
        }
        #bizSurvey{
          display: none;
          font-family: $font4;
          text-decoration: none;
          margin: 1.5%;
          position: absolute;
          top: 14%;
          right: 0;
          text-decoration: none;
          color: $blue;
          &:visited{
            text-decoration: none;
            color: $blue;
          }
        }
        }
      }
      .options{
        font-family: $font4;
        margin: 3% 5%;
        h3{
          margin: 0% 2%;
          display: inline-block;
          color: $medBlue;
          font-size: 1.5em;
          text-align: left;
          border-bottom: 1px dotted $red;
          letter-spacing: 2px;
        }
        #edit{
          border-bottom: 1px dotted $red;
          &:hover{
            border-bottom: 1px solid $red;
          }
        }
      }
      .ngDashboard{
        font-family: $font4;
        .biz{
          border: 4px solid #E67A7A;
          border-radius: 2px;
          padding: 5%;
          margin: 5% 5%;
          display: block;
          box-shadow: 1px 1px 10px 0px rgba(128, 128, 128, 0.27);
          #chevron{
            margin: 1%;
            color: $red;
            float: right;
          }
          img{
            width: 10%;
          }
        #bizName{
          font-size: 2em;
          font-family: $font4;
          letter-spacing: 1.5px;
        }
        #bizOwner{
          font-size: 1.2em;
          letter-spacing: 1.5px;
        }
        #bizInfo{
          font-size: 1em;
          #yelp{
            margin: 1%;
            color: $red;
          }
        }
      }
    }
  }
}
