// DESKTOP VIEW BELOW
@media screen and (min-width: 1020px) {
  #consumerQuestionnaire{
li{
  font-size: 1.5em;
  color:$darkGrey;
}
    .checkBoxWrap{
      width: 40%;
      margin: 5em auto;
      padding-bottom: .5%;
    }
    h2{
      display: block;
      font-family: $font4;
      color: $red;
      text-align: left;
      font-size: 2em;
      padding: 3%;
      margin: 4% 2%;
    }

    .checkBoxForm{
      display: block;
      font-family: $font4;


      .signUpInput{
        width: 90%;
        display: block;
        font-size: 1.1em;
        border: none;
        border-bottom: 1px solid $blue;
        padding: 1%;
        margin: 4%;
        &:focus{
          outline: none;
        }
      }

      label, input{
        cursor: pointer;
        cursor: hand;
      }

    .black{
      color:black;
    }

      input{
        margin: 5% 1%;
        display:none;
      }

      li.black {
        color:black;
      }

      .claimBus{
        color:$red;
      }

      .submit{
        background: $red;
        display: block;
        font-family: $font4;
        color: white;
        text-align: center;
        font-size: 1.5em;
        padding: 2%;
        width: 90%;
        border: none;
        margin: 1% auto;
        cursor: pointer;
        letter-spacing: 1.5px;
      }
    }
  }
}
// MOBILE VIEW BELOW
@media screen and (max-width: 480px) {
  input[type="checkbox"]{
    display: none;
  }
  #headerNavBar{
        .logo{
          display: block;
          box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.27);
          margin: 0%;
          padding: 1%;
          #pearlH1{
            font-size: 3em;
            display: inline-block;
            padding: 1% 1% 1% 4%;
            color: $red;
            letter-spacing: 2px;
            font-family: $font5;
            cursor: pointer;
          }
          img{
            width: 11%;
          }
          .dropdownMenu{
            position: absolute;
            top: 1%;
            right: 5%;
            z-index: 2;
            .dropdownbtn{
              background-color: white;
              border: none;
              cursor: pointer;
              font-size: 1em;
              margin: 2%;
              &:focus{
                outline: none;
              }
              .fa-bars{
                position: relative;
                font-size: 3em;
                color: $red;
              }
            }
            .dropdownMenu-list{
              position: absolute;
              background-color: $blue;
              right: 0%;
              text-align: right;
              padding: 15% 30%;
              box-shadow: 1px 5px 10px 0px rgba(42,119,119,0.5);
              border-radius: 2px;
              .dropdownMenu-list--item{
                font-family: $font2;
                font-size: 2em;
                display: block;
                text-decoration: none;
                color: $red;
                border-bottom: 1px dotted #E67A7A;
                line-height: 1.7;
                margin-bottom: 10%;
                text-shadow: 1px 1px rgba(42, 119, 119, 0.5);
              }
            }
          }
        }
      }
      // end of header navbar//////////////////////////

  #signUp{
    .headerWrap{
      width: 100%;
      display: block;
      position: relative;
      h2{
        font-family: $font5;
        color: $red;
        text-align: center;
        font-size: 3em;
        padding: 2% 0;
        box-shadow: 0px 10px 100px 20px rgba(255,255,255,0.5);
        border-radius: 50%;
        letter-spacing: 2px;
      }


      img{
        width: 100%;
        position: absolute;
        top: 0;
        margin: -65% 0%;
        z-index: -1;
      }
    }
    .checkBoxWrap{
      margin: 1%;
      border-radius: 5%;

      #matters_toyou{
        background: $red;
        display: block;
        font-family: $font4;
        color: white;
        text-align: left;
        font-size: 2em;
        padding: 3%;
        margin: 2% 0%;
      }
    }

    .checkBoxForm{
      display: block;
      font-family: $font4;
      font-size: 1.3em;
      color:$darkGrey;
    }
    ul{
      margin: 2%;
      li{
        padding: 2%;
        margin: 2px;
        border-radius: 5px;
        letter-spacing: .2px;
        vertical-align: super;

      }
      .survey_opts{
        background-color: white;
        img{
          vertical-align: middle;
          margin: 0 3%;
        }
      }
      .checked{
        background-color: #eee;
        color: $darkBlue;
      }
    }

      .signUpInput{
        width: 90%;
        display: block;
        font-size: 1.5em;
        border: none;
        border-bottom: 1px solid #9DDCDC;
        padding: 1%;
        line-height: 1.5em;
        margin: 4%;
        &:focus{
          outline: none;
        }
      }

      label, input{
        cursor: pointer;
        cursor: hand;

      }

      .black{
        color:black;
      }

      li.black {
        color:black;
      }

      .inputCheckbox{
        margin: 5% 1%;
        display:none;
        padding: 5%;
      }

      .claimBus{
        color:$red;
        margin: 5% 2% 0%;
        display: block;
      }

      .submit{
        background: $red;
        display: block;
        font-family: $font4;
        color: white;
        text-align: center;
        font-size: 2em;
        padding: 4%;
        width: 100%;
        border: none;
        margin: 1% auto;
        cursor: pointer;
        letter-spacing: 1.5px;
      }

  }
  }
