// DESKTOP VIEW BELOW
@media screen and (min-width: 1020px) {
  #consumerQuestionnaire{

    .signUpWrap{
      width: 40%;
      margin: 5em auto;
      box-shadow: 5px 5px 35px 1px $darkGrey;
      padding-bottom: .5%;
    }
    h2{
      display: block;
      font-family: $font4;
      color: $red;
      text-align: left;
      font-size: 2em;
      padding: 5%;
    }

    .signUpForm{
      display: block;
      font-family: $font4;
      font-size: 1.5em;
      color:$darkGrey;


      .signUpInput{
        width: 90%;
        display: block;
        font-size: 1.1em;
        border: none;
        border-bottom: 1px solid $blue;
        padding: 1%;
        margin: 4%;
        &:focus{
          outline: none;
        }
      }

      label, input{
        cursor: pointer;
        cursor: hand;
      }

      input{
        margin: 5% 1%;
      }

      .claimBus{
        color:$red;
      }

      .submit{
        background: $red;
        display: block;
        font-family: $font4;
        color: white;
        text-align: center;
        font-size: 1.5em;
        padding: 2%;
        width: 90%;
        border: none;
        margin: 1% auto;
        cursor: pointer;
        letter-spacing: 1.5px;
      }
    }
  }
}
// MOBILE VIEW BELOW
@media screen and (max-width: 1020px) {
  #signUp{
    .headerWrap{
      width: 98%;
      display: block;
      position: relative;
      margin: 0 2%;
      h2{
        font-family: $font5;
        color: $red;
        text-align: center;
        font-size: 3em;
        padding: 2% 0;
        box-shadow: 0px 10px 100px 20px rgba(255,255,255,0.5);
        border-radius: 50%;
        letter-spacing: 2px;
      }

      .checkboxItems{
        color:$darkGrey;
        font-size: 1em;
      }

      img{
        width: 100%;
        position: absolute;
        top: 0;
        margin: -65% 0%;
        z-index: -1;
      }
    }
    .signUpWrap{
      box-shadow: 0px 5px 15px 1px rgba(42, 119, 119, 0.1);
      padding-bottom: 3%;
      margin: 12% 1%;
      border-radius: 5%;

    h2{
      background: $red;
      display: block;
      font-family: $font4;
      color: white;
      text-align: left;
      font-size: 2em;
      padding: 3%;
    }
    }
    // ///////////////
    .signUpForm{
      display: block;
      font-family: $font4;
      font-size: 1.3em;
      color:$darkGrey;
    }
    .signUpFormClicked{
      display: block;
      font-family: $font4;
      font-size: 1.3em;
      color:black;
    }
    .circle{
      width: 44px; height: 44px;
-webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
border: 1px solid #bbb;
    }
// //////////////////////
      .signUpInput{
        width: 90%;
        display: block;
        font-size: 1.5em;
        border: none;
        border-bottom: 1px solid #9DDCDC;
        padding: 1%;
        line-height: 1.5em;
        margin: 4%;
        &:focus{
          outline: none;
        }
      }

      label, input{
        cursor: pointer;
        cursor: hand;
      }

      input{
        margin: 5% 1%;
      }

      .claimBus{
        color:$red;
      }

      .submit{
        background: $red;
        display: block;
        font-family: $font4;
        color: white;
        text-align: center;
        font-size: 1.5em;
        padding: 2%;
        width: 90%;
        border: none;
        margin: 1% auto;
        cursor: pointer;
        letter-spacing: 1.5px;
      }

  }
}

// PREVIOUS STYLING
// #consumerQuestionnaire{
//     width: 100%;
//     height: 100%;
//     background-color: white;
//     font-family: Roboto, sans-serif;
//     color: $blue;
//   #consumerQuestionnaireHeader{
//     color: $blue;
//     width: 100%;
//     .pearlLogo{
//       display: inline-block;
//       width: 5%;
//       height: 5%;
//       padding-top: 2%;
//       position: relative;
//       left: 47%;
//       }
//       .pearlLogo-text{
//         letter-spacing: 2px;
//         font-size: 4em;
//           color: $blue;
//         font-family: Arvo;
//         // width: 10%;
//         display: block;
//         position:relative;
//         left: 42%;
//         padding-bottom: 2%;
//       }
//       #consumerQuestionnaireHeader-contain{
//         width: 80%;
//         position: relative;
//         .pearlLogo-text{
//           letter-spacing: 2px;
//           font-size: 4em;
//             color: $blue;
//           // font-family: Arvo;
//           // font-family: Roboto, sans-serif;
//           // width: 10%;
//           display: block;
//           position:relative;
//           left: 42%;
//           padding-bottom: 2%;
//         }
//         }
//       }
//     }
//   #consumerQuestionnaireWrapper{
//     font-family: Roboto, sans-serif;
//     margin: auto;
//     width: 80%;
//     }
//
//     .pageTitle{
//       font-size: 1.5em;
//       height:2em;
//     }
//
//     .field{
//       padding: .25em;
//     }
//
//     .new_business{
//       color:$darkGrey;
//       font-size: 1em;
//       letter-spacing:1.5px;
//     }
//
//     .instructions{
//       color:$darkGrey;
//       font-size: 1.5em;
//       text-align: left;
//       // padding-top: 3px;
//       letter-spacing:1.5px;
//     }
//
//     .instructions2{
//       color:$darkGrey;
//       font-size: 1em;
//       text-align: left;
//       height:2em;
//       letter-spacing:1.5px;
//     }
//
//     .questions{
//       color:$darkGrey;
//       font-size: 1em;
//       letter-spacing:1.5px;
//     }
//
//     input[type="text"], textarea {
//       // background-color : $white;
//
//     }
//
//     input[type="zipcode"], textarea {
//       // background-color : $white;
//     }
//
//     input[type='checkbox']{
//       cursor: pointer;
//       cursor: hand;
//     }
//     label{
//       cursor: pointer;
//       cursor: hand;
//     }
//
//     .nameTextbox{
//       width:300px;
//     }
//
//     .streetTextbox{
//       width:225px;
//     }
//
//     .bizUrl{
//       width:225px;
//     }
//
//     .imgUrl{
//       width:225px;
//     }
//
//     .bizTextbox{
//       width: 300px;
//       height: 60px;
//       padding: 1px;
//     }
//
//     .checkboxItem{
//       color:$darkGrey;
//       font-size: 1em;
//     }
//
//     .submitButton{
//       height:1em;
//       width:6em;
//       background-color: $red;
//       font-size: 1.5em;
//       color:$tan;
//       margin: 1em 0 3em 5%;
//       border-color: $red;
//       border-radius: 1px;
//       text-align: center;
//       display:block;
//       padding: 2%;
//       cursor: pointer;
//       cursor: hand;
//     }
//
//
// @media handheld, only screen and (max-width: 767px) {
//   #consumerQuestionnaire{
//       width: 100%;
//       height: 100%;
//       background-color: white;
//       font-family: Roboto, sans-serif;
//       color: $blue;
//     #consumerQuestionnaireHeader{
//       color: $blue;
//       width: 100%;
//       display:inline-block;
//       padding: 15px;
//       .pearlLogo{
//         width: 80px;
//         left: 10%;
//         margin-top: -15px;
//         }
//         .pearlLogo-text{
//             // border:1px solid black;
//             font-size: 4em;
//             font-family: Arvo;
//             width: 20%;
//             margin-top: -50px;
//           }
//           .submitButton{
//             height:1em;
//             width:6em;
//             background-color: $red;
//             font-size: 1.5em;
//             color:$tan;
//             margin: 1em 0 3em 10%;
//             border-color: $red;
//             border-radius: 1px;
//             text-align: center;
//             display:block;
//             padding: 2%;
//             cursor: pointer;
//             cursor: hand;
//           }
//     }
// }
//
