input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: $darkBlue;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}


@media only screen
  and (min-width: 1020px) {
  #dashboard{
    .logo{
      display: block;
      margin: 0%;
      h1{
        font-size: 3em;
        display: inline-block;
        padding: 1%;
        color: $red;
        letter-spacing: 2px;
        font-family: $font5;
      }
      img{
        width: 35%;
        margin: -15% -20%;
        position: relative;
        z-index: -1;
      }
      #rightLogo{
        display: inline;
        i{
          float: right;
          color: $grey;
          margin: 0 2%;
          font-size: 1.5em;
          span{
            font-family: $font4;
            padding: 2% 1.5%;
            font-size: 1em;
            position: absolute;
            right: 0;
            color: $red;
          }
        }
        #userSurvey{
          font-family: $font4;
          text-decoration: none;
          margin: 1.5%;
          position: absolute;
          top: 20%;
          right: 0;
          text-decoration: none;
          color: $blue;
          &:visited{
            text-decoration: none;
            color: $blue;
          }
        }
        #bizSurvey{
          font-family: $font4;
          text-decoration: none;
          margin: 1.5%;
          position: absolute;
          top: 30%;
          right: 0;
          text-decoration: none;
          color: $blue;
          &:visited{
            text-decoration: none;
            color: $blue;
          }
        }
        }
      }
      .options{
        font-family: $font4;
        margin: 3% 5%;
        h3{
          margin: 1% 2%;
          display: inline-block;
          color: #9E9E9E;
          font-size: 1.5em;
          text-align: left;
          border-bottom: 1px dotted $red;
          letter-spacing: 2px;
        }
        #discover{
          margin-right: 5%;
          border-bottom: 1px dotted $red;
          &:hover{
            border-bottom: 1px solid $red;
          }
        }
      }
      .ngDashboard{
        font-family: $font4;
        .biz{
          border: 2px solid $blue;
          border-radius: 2px;
          padding: 5%;
          margin: 5% 5%;
          display: block;
          box-shadow: 1px 1px 10px 0px rgba(128, 128, 128, 0.27);
          #chevron{
            margin: 1%;
            color: $red;
            float: right;
          }
          img{
            width: 10%;
          }
        #bizName{
          font-size: 2em;
          font-family: $font4;
          letter-spacing: 1.5px;
        }
        #bizOwner{
          font-size: 1.2em;
          letter-spacing: 1.5px;
        }
        #bizInfo{
          font-size: 1em;
          #yelp{
            margin: 1%;
            color: $red;
          }
        }
      }
      }
      a{
        color: $red;
        font-family: Roboto, sans-serif;
        letter-spacing: 1.5px;
        text-decoration: none;
        margin: 0 .5%;
        padding: 0 1%;
        position: relative;
        display: inline-block;
        left: 60%;
      }
      #headerSiteNav-dashboard, #headerSiteNav-profile, #headerSiteNav-settings {
        border-right: solid $red 1px;
      }
    }
  }
  @media only screen
    and (min-width: 480px)
    and (max-width: 1020px){
  #dashboard{
    main{
      p{
        margin: 5%;
        font-family: $font5;
        color: $red;
        #searchNearMe{
          font-size: 1.1em;
          border: none;
          border-bottom: 1px solid $blue;
          padding: 1%;
          margin: 4%;
          letter-spacing: 1px;
        }
      }
    }
    .logo{
      display: block;
      box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.27);
      margin: 0%;
      padding: 1%;
      #headerSiteNav{
        ul{
          display: inline-block;
          float: right;
          position: absolute;
          top: 1%;
          right: 1%;
          li{
            button{
              border: none;
              background-color: $red;
              color: white;
              font-family: $font4;
              margin: 15%;
              font-size: 14px;
              letter-spacing: 1px;
              border-radius: 2px;
            }
            span{
              a{
                color: $red;
                font-family: Roboto, sans-serif;
                letter-spacing: 1.5px;
                text-decoration: none;
                display: block;
              }
            }
          }
        }
      }
      h1{
        font-size: 3em;
        display: inline-block;
        padding: 1% 1% 1% 4%;
        color: $red;
        letter-spacing: 2px;
        font-family: $font5;

      }
      img{
        width: 11%;
      }
      #rightLogo{
        display: inline;
        i{
          float: right;
          color: $grey;
          margin: 0 5%;
          font-size: 1.5em;
          span{
            font-family: $font4;
            padding: 6%;
            font-size: 1em;
            position: absolute;
            right: 0;
            color: $red;
          }
        }
        #userSurvey{
          display: none;
          font-family: $font4;
          text-decoration: none;
          margin: 1.5%;
          position: absolute;
          top: 11%;
          right: 0;
          text-decoration: none;
          color: $blue;
          &:visited{
            text-decoration: none;
            color: $blue;
          }
        }
        #bizSurvey{
          display: none;
          font-family: $font4;
          text-decoration: none;
          margin: 1.5%;
          position: absolute;
          top: 14%;
          right: 0;
          text-decoration: none;
          color: $blue;
          &:visited{
            text-decoration: none;
            color: $blue;
          }
        }
        }
      }
      .options{
        font-family: $font4;
        margin: 3% 5%;
        #discover{
          li{
            margin: 0% 2%;
            display: inline-block;
            border-bottom: 1px dotted $red;

            a{
              color: #9E9E9E;
              font-size: 1.5em;
              text-align: left;
              letter-spacing: 2px;
              text-decoration: none;
            }
          }
        }
        #loading{
          color: $blue;
          margin: 5% 5% 0;
          display: inline-block;
          letter-spacing: 1.5px;
        }
      }
      .ngDashboard{
        font-family: $font4;
        .biz{
          border: 4px solid #E67A7A;
          border-radius: 2px;
          padding: 5%;
          margin: 5% 5%;
          display: block;
          box-shadow: 1px 1px 10px 0px rgba(128, 128, 128, 0.27);
          #chevron{
            margin: 1%;
            color: $red;
            float: right;
          }
          img{
            width: 10%;
          }
        #bizName{
          font-size: 2em;
          font-family: $font4;
          letter-spacing: 1.5px;
        }
        #bizOwner{
          font-size: 1.2em;
          letter-spacing: 1.5px;
        }
        #bizInfo{
          font-size: 1em;
          #yelp{
            margin: 1%;
            color: $red;
          }
        }
      }
    }
  }
}
@media only screen
  and (max-width: 480px){
  #dashboard{
    #headerNavBar{
      .logo{
        display: block;
        box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.27);
        margin: 0%;
        padding: 1%;
        #pearlH1{
          font-size: 3em;
          display: inline-block;
          padding: 1% 1% 1% 4%;
          color: $red;
          letter-spacing: 2px;
          font-family: $font5;
          cursor: pointer;
        }
        img{
          width: 11%;
        }
        .dropdownMenu{
          position: absolute;
          top: 1%;
          right: 5%;
          z-index: 2;
          .dropdownbtn{
            background-color: white;
            border: none;
            cursor: pointer;
            font-size: 1em;
            margin: 2%;
            &:focus{
              outline: none;
            }
            .fa-bars{
              position: relative;
              font-size: 3em;
              color: $red;
            }
          }
          .dropdownMenu-list{
            position: absolute;
            background-color: $blue;
            right: 0%;
            text-align: right;
            padding: 15% 30%;
            box-shadow: 1px 5px 10px 0px rgba(42,119,119,0.5);
            border-radius: 2px;
            .dropdownMenu-list--item{
              font-family: $font2;
              font-size: 2em;
              display: block;
              text-decoration: none;
              color: $red;
              border-bottom: 1px dotted #E67A7A;
              line-height: 1.7;
              margin-bottom: 10%;
              text-shadow: 1px 1px rgba(42, 119, 119, 0.5);
            }
          }
        }
      }
    }
    #mainDashboard{
      .profileHeader{
        font-family: $font5;
        color: $red;
        display: block;
        width: 100%;
        margin: 3% auto;
        position: relative;

        .fa-search{
          color: $red;
          font-size: 2em;
          margin: 2% 2% 0% 5%;
          position: absolute;
          top: 0;
        }
        #searchNearMe{
          font-size: 1.1em;
          border: none;
          border-bottom: 2px solid $blue;
          padding: 1%;
          margin: 1% 16%;
          letter-spacing: 1px;
        }
        #searchNearMeBtn{
          border-radius: 2px;
          font-size: 20px;
          padding: 1% 2%;
          background-color: $red;
          color: white;
          border: none;
          right: 5%;
          position: absolute;
          bottom: 3%;
        }
      }
    }
  }

      #headerSiteNav{
        ul{
          display: inline-block;
          float: right;
          position: absolute;
          top: 1%;
          right: 1%;
          li{
            button{
              border: none;
              background-color: $red;
              color: white;
              font-family: $font4;
              margin: 15%;
              font-size: 14px;
              letter-spacing: 1px;
              border-radius: 2px;
            }
            span{
              a{
                color: $red;
                font-family: Roboto, sans-serif;
                letter-spacing: 1.5px;
                text-decoration: none;
                display: block;
              }
            }
          }
        }
      }

      #rightLogo{
        display: inline;
        i{
          float: right;
          color: $grey;
          margin: 0 5%;
          font-size: 1.5em;
          span{
            font-family: $font4;
            padding: 6%;
            font-size: 1em;
            position: absolute;
            right: 0;
            color: $red;
          }
        }
        #userSurvey{
          display: none;
          font-family: $font4;
          text-decoration: none;
          margin: 1.5%;
          position: absolute;
          top: 11%;
          right: 0;
          text-decoration: none;
          color: $blue;
          &:visited{
            text-decoration: none;
            color: $blue;
          }
        }
        #bizSurvey{
          display: none;
          font-family: $font4;
          text-decoration: none;
          margin: 1.5%;
          position: absolute;
          top: 14%;
          right: 0;
          text-decoration: none;
          color: $blue;
          &:visited{
            text-decoration: none;
            color: $blue;
          }
        }
        }

      .options{
        font-family: $font4;
        margin: 3% 5%;
        #discover{
          #liDiscover{
            margin: 1% 2%;
            display: inline-block;
            border-bottom: 2px solid $red;
            padding: 1%;

            a{
              color: #9E9E9E;
              font-size: 1.5em;
              text-align: left;
              letter-spacing: 2px;
              text-decoration: none;
            }
          }
          #liName{
            margin: 0% 2%;
            display: inline-block;
            border-bottom: 1px dotted $red;
            padding: 1%;
            a{
              color: #9E9E9E;
              font-size: 1.5em;
              text-align: left;
              letter-spacing: 2px;
              text-decoration: none;
            }
            &:hover{
              border-bottom: 1px solid $red;
            }
          }
        }
        #loading{
          color: $blue;
          margin: 5% 5% 0;
          display: inline-block;
          letter-spacing: 1.5px;
        }
      }
      .ngDashboard{
        font-family: $font4;
        .biz{
          border: 2px solid $blue;
          border-radius: 3px;
          padding: 5%;
          margin: 5% 5%;
          display: block;
          box-shadow: 1px 1px 10px 0px rgba(128, 128, 128, 0.27);
          #chevron{
            margin: 1%;
            color: $darkGrey;
            float: right;
          }
          img{
            width: 10%;
          }
        #bizName{
          font-size: 2em;
          font-family: $font4;
          letter-spacing: 1.5px;
          color: $darkGrey;
        }
        #bizOwner{
          font-size: 1.2em;
          letter-spacing: 1.5px;
          color: $darkGrey;
        }
        #bizInfo{
          font-size: 1em;
          color: $darkGrey;
          #yelp{
            margin: 1%;
            color: $red;
          }
        }
      }
    }
  }
