////////////  DESKTOP VIEW  ////////////
@media only screen
  and (min-width: 1020px) {
    #mainDashboard {
        top: 12.5%;
        width: 80%;
        margin: auto;
        #loading{
          margin-top: 15em;
          padding: 1em;
          border: solid $blue .05em;
          background-color: $tan;
          color: $blue;
          font-family: $font4;
        }
        .userResults {
            padding-top: 6em;
            color: $blue;
            font-family: $font5;
            font-size: 2em;
            #dash_zip{
              padding-top: 2em;
            }
            .badges{
              padding-top: .75em;
            }
        }
        ul {
            width: 100%;
            li {
                position: relative;
                left: -4%;
                width: 100%;
                color: $darkGrey;
                font-size: 2em;
                letter-spacing: 2px;
                font-family: $font4;
                border: $red solid 0.15em;
                border-radius: 0.5em;
                margin: 2%;
                padding: 2%;
                box-shadow: 0.2em 0.2em 1em 0 rgba(128, 128, 128, 0.27);
                .fa-chevron-right {
                    display: inline;
                    top: 1.25em;
                    color: $red;
                    size: 3em;
                    position: relative;
                    left: 90%;
                    padding: 5% 1%;
                }
                .fa-yelp {
                    color: $blue;
                }
            }
        }
    }
  }
////////////  TABLET VIEW  ////////////
@media only screen
  and (min-width: 480px)
  and (max-width: 1020px){
  }
////////////  MOBILE VIEW  ////////////
@media only screen and (max-width: 480px) {
#mainDashboard{
  top: 12.5%;
  position: absolute;
  width: 100%;
  #matches{

      position: absolute;
      top: 10%;
      width: 100%;
      margin-bottom: 20%;
      #loading{
        color: $blue;
        margin: 5%;
        display: block;
        letter-spacing: 1.5px;
        font-family: $font4;
        background: $tan;
        border: 1px solid $blue;
        font-size: 1.25em;
        border-radius: 2px;
        padding: 2% 5%;
      }
      .profileHeader{
        font-family: $font5;
        color: $red;
        display: block;
        width: 100%;
        margin: 3% auto;
        position: relative;

        .fa-search{
          color: $red;
          font-size: 2em;
          margin: 2% 2% 0% 5%;
          position: absolute;
          top: 0;
        }
        #searchNearMe{
          font-size: 1.1em;
          border: none;
          border-bottom: 2px solid $blue;
          padding: 1%;
          margin: 1% 16%;
          letter-spacing: 1px;
        }
        #searchNearMeBtn{
          border-radius: 2px;
          font-size: 20px;
          padding: 1% 2%;
          background-color: $red;
          color: white;
          border: none;
          right: 5%;
          position: absolute;
          bottom: 3%;
        }
      }
      #bottomWrapper{
        height:3em;
        position: fixed;
        bottom: 0;
        background-color: #eee;
        padding: 2% 2% 3% 0%;
        margin-top: 10%;
        width: 100%;
        z-index: 5;
        a{
          text-decoration: none;
          .fa{
            display: inline-block;
            font-size: 2.6em;
            padding: 2% 12% 5% 12%;
            color: $medBlue;
          }
          &:active{
            text-decoration: none;
          }
          &:visited{
            text-decoration: none;
          }
        }
      }
      .userResults{
        margin: 0 5%;
        h3{
          color: $blue;
          font-family: $font5;
          margin: 2% 0;
          font-size: 1.5em;
          letter-spacing: .5px;
        }
      }
    }
    .ngDashboard{
      font-family: $font4;
      .match{
        border: 1px solid $red;
        border-radius: 2px;
        padding: 5% 2% 5% 5%;
        margin: 4%;
        display: block;
        box-shadow: 1px 1px 10px 0px rgba(128, 128, 128, 0.27);
        position: relative;
        #chevron{
          margin: 1%;
          color: $red;
          float: right;
        }
        #matchName{
          font-size: 1.5em;
          font-family: $font4;
          letter-spacing: 2px;
          color: $darkGrey;
        }
        #matchOwner{
          font-size: 1em;
          letter-spacing: 1.5px;
          color: $darkGrey;
          margin: 3% 0;
        }
        #matchInfo{
          font-size: 1em;
          .phone{
            text-decoration: none;
            color: $darkBlue;
          }
          .badges{
            color: $blue;
            font-size: 2em;
          }
          #yelp{
            margin: 1%;
            color: $red;
            text-decoration: none;
            span{
              bottom: 10%;
              position: absolute;
              right: 15%;
              letter-spacing: 1px;
              font-family: $font3;
            }
            .fa{
              margin: 1%;
              color: $red;
              float: right;
              bottom: 5%;
              right: 5%;
              position: absolute;
            }
          }

        }
      }
    }
  }
}
