@media only screen
  and (max-width: 480px){
  #matches{
    #headerNavBar{
      .logo{
        display: block;
        box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.27);
        margin: 0%;
        padding: 1%;
        position: fixed;
        width: 100%;
        background: white;
        top: 0;
        z-index: 2;
        #pearlH1{
          font-size: 3em;
          display: inline-block;
          padding: 1% 1% 1% 4%;
          color: $red;
          letter-spacing: 2px;
          font-family: $font5;
          cursor: pointer;
        }
        img{
          width: 11%;
        }
        .dropdownMenu{
          position: absolute;
          top: 1%;
          right: 5%;
          z-index: 2;
          .dropdownbtn{
            background-color: white;
            border: none;
            cursor: pointer;
            font-size: 1em;
            margin: 2%;
            &:focus{
              outline: none;
            }
            .fa-bars{
              position: relative;
              font-size: 3em;
              color: $red;
            }
          }
          .dropdownMenu-list{
            position: absolute;
            background-color: $blue;
            right: 0%;
            text-align: right;
            padding: 15% 30%;
            box-shadow: 1px 5px 10px 0px rgba(42,119,119,0.5);
            border-radius: 2px;
            .dropdownMenu-list--item{
              font-family: $font2;
              font-size: 2em;
              display: block;
              text-decoration: none;
              color: $red;
              border-bottom: 1px dotted #E67A7A;
              line-height: 1.7;
              margin-bottom: 10%;
              text-shadow: 1px 1px rgba(42, 119, 119, 0.5);
            }
          }
        }
      }
    }
    #mainDashboard{
      position: absolute;
      top: 10%;
      width: 100%;
      #loading{
        color: $blue;
        margin: 5%;
        display: block;
        letter-spacing: 1.5px;
        font-family: $font4;
        background: $tan;
        border: 1px solid $blue;
        font-size: 1.25em;
        border-radius: 2px;
        padding: 2% 5%;
      }
      .profileHeader{
        font-family: $font5;
        color: $red;
        display: block;
        width: 100%;
        margin: 3% auto;
        position: relative;

        .fa-search{
          color: $red;
          font-size: 2em;
          margin: 2% 2% 0% 5%;
          position: absolute;
          top: 0;
        }
        #searchNearMe{
          font-size: 1.1em;
          border: none;
          border-bottom: 2px solid $blue;
          padding: 1%;
          margin: 1% 16%;
          letter-spacing: 1px;
        }
        #searchNearMeBtn{
          border-radius: 2px;
          font-size: 20px;
          padding: 1% 2%;
          background-color: $red;
          color: white;
          border: none;
          right: 5%;
          position: absolute;
          bottom: 3%;
        }
      }
      .btm_nav{
        font-family: $font4;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 10;
        background: white;
        #discover{
          margin: 0 auto;
          display: block;
          position: relative;
          text-align: center;
          box-shadow: 0px 5px 10px 1px $darkGrey;

          #liNearby{
            display: inline-block;
            padding: 2%;
            font-size: 1.25em;
            width: 20%;
            a{
              color: #9E9E9E;
              font-size: 2em;
              text-align: left;
              letter-spacing: 2px;
              text-decoration: none;
            }
          }
          #liHome{
            display: inline-block;
            padding: 2%;
            font-size: 1.75em;
            width: 30%;
            a{
              color: #9E9E9E;
              font-size: 2em;
              text-align: left;
              letter-spacing: 2px;
              text-decoration: none;
            }
            &:hover{
              border-bottom: 1px solid $red;
            }
          }
          #liSearch{
            display: inline-block;
            padding: 2%;
            font-size: 1.25em;
            width: 20%;
            a{
              color: #9E9E9E;
              font-size: 2em;
              text-align: left;
              letter-spacing: 2px;
              text-decoration: none;
            }
            &:hover{
              border-bottom: 1px solid $red;
            }
          }
        }
      }
      .userResults{
        margin: 0 5%;
        h3{
          color: $medBlue;
          font-family: $font1;
          margin: 2% 0;
          font-size: 1.5em;
          letter-spacing: .5px;
        }
      }
    }
    .ngDashboard{
      font-family: $font4;
      .match{
        border: 4px solid $red;
        border-radius: 2px;
        padding: 5%;
        margin: 5%;
        display: block;
        box-shadow: 1px 1px 10px 0px rgba(128, 128, 128, 0.27);
        position: relative;
        #chevron{
          margin: 1%;
          color: $red;
          float: right;
        }
        #matchName{
          font-size: 2em;
          font-family: $font4;
          letter-spacing: 1.5px;
        }
        #matchOwner{
          font-size: 1.2em;
          letter-spacing: 1.5px;
        }
        #matchInfo{
          font-size: 1em;
          .phone{
            text-decoration: none;
            color: $darkBlue;
          }
          .badges{
            color: $blue;
            font-size: 2em;
          }
          #yelp{
            margin: 1%;
            color: $red;
            text-decoration: none;
            span{
              bottom: 10%;
              position: absolute;
              right: 15%;
              letter-spacing: 1px;
              font-family: $font3;
            }
            .fa{
              margin: 1%;
              color: $red;
              float: right;
              bottom: 5%;
              right: 5%;
              position: absolute;
            }
          }

        }
      }
    }
  }
}
