
a{
  outline: none;
  text-decoration: none;
  &:visited{
    text-decoration: none;
    color: $red;
  }
  &:active{
    text-decoration: none;
    color: $red;
  }
}

////////////  DESKTOP VIEW  ////////////
@media only screen
  and (min-width: 1020px) {
  }
////////////  TABLET VIEW  ////////////
@media only screen
  and (min-width: 480px)
  and (max-width: 1020px){
  }
////////////  MOBILE VIEW  ////////////
@media only screen and (max-width: 480px) {
  #signUp{
    #signupheaderwrap{
      width: 70%;
      margin: 0 auto;
    }
    .headerWrap{
      width: 60%;
      display: block;
      position: relative;
      #Pearl{
        font-family: $font5;
        color: $red;
        text-align: center;
        font-size: 3em;
        padding: 5% 0;
        box-shadow: 0px 10px 100px 20px rgba(255,255,255,0.5);
        border-radius: 50%;
        letter-spacing: 2px;

      }
      #ll-pearl{
        width: 100%;
        position: absolute;
        top: 0;
        margin: -40% 0%;
        z-index: -1;
      }
    }
    .signUpWrap{
      margin: 0;
      border-radius: 5%;


    #signupMSG{
      font-size: 20px;
      color: $darkBlue;
      background: $tan;
      width: 85%;
      text-align: center;
      padding: 1% 2%;
      border: 1px solid $blue;
      border-radius: 2px;
      font-family: $font4;
      display: none;
      position: absolute;
      top: 23%;
      margin: 0 5%;
    }
    }
    .signUpForm{
      display: block;
      bottom: 0px;
      position: absolute;
      width: 100%;
      background: white;
      #sign_header{
        padding: 5%;
        background: $red;
        display: block;
        font-family: $font4;
        color: white;
        text-align: left;
        font-size: 2em;
        letter-spacing: 2px;
        font-weight: 700;

      }
      .signUpInput{
        width: 90%;
        display: inline-block;
        font-size: 1em;
        border: none;
        border-bottom: 1px solid #9DDCDC;
        padding: 1%;
        line-height: 1.75;
        margin: 0% 4%;
        &:focus{
          outline: none;
        }
        input{
          font-size: 1.4em;
          border: none;
          display: inline-block;
          &:focus{
            outline: none;
          }
        }
        span{
          float: right;
          background: $tan;
          color: $darkBlue;
          font-family: $font4;
          border: 1px solid $blue;
          border-radius: 2px;
        }
      }
      #signUpZipcode{
        margin-bottom: 20%;
      }
    }
    #getstartedSignup{
      background: $red;
      display: block;
      font-family: $font4;
      color: white;
      text-align: center;
      font-size: 2em;
      padding: 4%;
      width: 100%;
      border: none;
      position: fixed;
      bottom: 0;
      cursor: pointer;
      letter-spacing: 2px;
      font-weight: 700;
    }
    .signUpForm.ng-invalid{
      border: 1px solid red;
    }
  }
}
