<div class="woopsWrongScreen">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  <span class="woopsWrongScreen-message">Oops! Try viewing this on your smartphone! This app hasn't been optimized for desktop use yet</span>
</div>

<div id="loginPage">
    <div class="loginWrap">

        <div class="leftWrap">
            <h2>Pearl</h2>
            <img src="assets/img/pearlLogo-1.svg" alt="" />
        </div>

        <div class="rightWrap">
            <form class="new_user" id="new_user" accept-charset="UTF-8">
                <div class="field">
                    <input autofocus="autofocus" type="text" id="user_email" ng-model="username" placeholder="Username" />
                </div>

                <div class="field">
                    <input autocomplete="off" type="password" id="user_password" ng-model="password" placeholder="Password" />
                </div>

                <div class="actions">
                    <h1 ng-style="myStyle">{{errorMsg}}</h1>
                    <input ng-click="login(); myStyle={'display':'block'}" type="submit" name="commit" value="LOG IN" data-disable-with="LOG IN" />
                </div>
            </form>

            <a class="help" href="#/signup">SIGN UP</a>
            <a class="help" href="/users/password/new">FORGOT YOUR PASSWORD?</a>
        </div>
    </div>
</div>
